/**
该文件是文章详情文章内容部分的css
*/

.article-content {
  .article-header {
    padding: 25px 0;
    margin-bottom: 20px;
    .article-title {
      margin-top: 0;
      margin-bottom: 15px;
      text-align: center;
      font-size: 26px;
    }

    .article-meta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 12px;

      > div {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        .iconfont {
          vertical-align: middle;
          font-size: 14px;
        }
        span {
          vertical-align: middle;
        }
      }
    }
  }
}

.day-mode {
  .article-content {
    .article-header {
      .article-meta {
        i,span {
          color: #999999;
        }
      }
      a {
        color: #555555;
      }
      border-bottom: 1px solid #eaeaea;
    }
  }

}

.night-mode {
  .article-content {
    .article-header {
      .article-meta {
        i,span {
          color: #a8a8a8;
        }
      }
      a {
        color: #999999;
      }
      border-bottom: 1px solid #656565;
    }
  }
}
