<div class="article-wrap">
    <div class="article-content">
        <header class="article-header">
            <h1 class="article-title">
                <a href="">Golang标准库文档</a>
            </h1>
            <div class="article-meta">
                <div>
                    <i class="iconfont icon-zuozhe"></i>
                    <span>bob</span>
                </div>

                <div>
                    <i class="iconfont icon-reading1"></i>
                    <span>21</span>
                </div>

                <div>
                    <i class="iconfont icon-comments1"></i>
                    <span>3</span>
                </div>

                <div>
                    <i class="iconfont icon-zan-"></i>
                    <span>4</span>
                </div>

                <div>
                    <i class="iconfont icon-time1"></i>
                    <span>56</span>
                </div>
            </div>
        </header>
    </div>

    <div class="sidebar">
        推荐333
    </div>
</div>
