<div class="article-wrap">
    <div class="article-content">
        <header class="article-header">
            <h1 class="article-title">
                <a href="">taro聊天室tarochat项目|taro跨端实践</a>
            </h1>
            <div class="article-meta">
                <span class="item">2019-11-22 11:49:12</span>
                <span class="item">分类：
                    <a href="">html</a>
                </span>
                <span class="item post-views">阅读(120)</span>
            </div>
        </header>
        <div class="article-tags">
            标签：
            <a href="" class="tag">vue</a>

            <a href="" class="tag">nvm</a>

            <a href="" class="tag">node</a>

            <a href="" class="tag">npm</a>

            <a href="" class="tag">cnpm</a>
        </div>
        <article class="article-body">
         <pre class="line-numbers">          <code class="language-markup">
      		&lt;pre class="line-numbers"&gt;
      		    &lt;code class="language-markup"&gt;
      				&lt;style&gt;
      				   .div{ width : 100px }
      				&lt;/style&gt;
      		    &lt;/code&gt;
      		&lt;/pre&gt;
          </code>
      </pre>
        </article>

        <div class="article-share">
            <a href="javascript:;" class="like-btn">
                <span class="like-content">
                    <i class="iconfont icon-heart1"></i>&ensp;赞
                </span>
                <span class="like-count">5</span>
            </a>
        </div>

        <div class="prevNext clearfix">
            <div class="prev">
                <a href="">
                    <span>上一篇：</span>
                    <br class="br" />
                    <span>使用docker一键启动jackblog的所有版本使用docker一键启动jackblog的所有版本使用docker一键启动jackblog的所有版本使用docker一键启动jackblog的所有版本</span>
                </a>
            </div>
            <div class="next">
                <a href="">
                    <span>下一篇：</span>
                    <br class="br" />
                    <span>使用docker一键启动jackblog的所有版本</span>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="widget widget-meta">
            <h4>精彩推荐</h4>
            <ul>
                <li>
                    <a href="">Golang几大框架的优势和区别？</a>
                </li>
                <li>
                    <a href="">使用 beego 搭建 web 应用之一</a>
                </li>
                <li>
                    <a href="">15个流行编程语言及其应用</a>
                </li>
                <li>
                    <a href="">2020年最具“钱途”的编程语言</a>
                </li>
            </ul>
        </div>

        <div class="widget widget-meta">
            <h4>精彩推荐</h4>
            <ul>
                <li>
                    <a href="">Golang几大框架的优势和区别？</a>
                </li>
                <li>
                    <a href="">使用 beego 搭建 web 应用之一</a>
                </li>
                <li>
                    <a href="">15个流行编程语言及其应用</a>
                </li>
                <li>
                    <a href="">2020年最具“钱途”的编程语言</a>
                </li>
            </ul>
        </div>
    </div>
</div>
