<div class="article-wrap">
    <div class="article-content">
        <header class="article-header">
            <h1 class="article-title">
                <a href="">golang文章详情</a>
            </h1>
            <div class="article-meta">
                <div>
                    <i class="iconfont icon-zuozhe"></i>
                    <span>bob</span>
                </div>

                <div>
                    <i class="iconfont icon-reading1"></i>
                    <span>21</span>
                </div>

                <div>
                    <i class="iconfont icon-comments1"></i>
                    <span>3</span>
                </div>

                <div>
                    <i class="iconfont icon-zan-"></i>
                    <span>4</span>
                </div>

                <div>
                    <i class="iconfont icon-time1"></i>
                    <span>56</span>
                </div>
            </div>
        </header>
    </div>

    <div class="sidebar">
        <div class="widget widget-meta">
            <h4>精彩推荐</h4>
            <ul>
                <li>
                    <a href="">Golang几大框架的优势和区别？</a>
                </li>
                <li>
                    <a href="">使用 beego 搭建 web 应用之一</a>
                </li>
                <li>
                    <a href="">15个流行编程语言及其应用</a>
                </li>
                <li>
                    <a href="">2020年最具“钱途”的编程语言</a>
                </li>
            </ul>
        </div>

        <div class="widget widget-meta">
            <h4>精彩推荐</h4>
            <ul>
                <li>
                    <a href="">Golang几大框架的优势和区别？</a>
                </li>
                <li>
                    <a href="">使用 beego 搭建 web 应用之一</a>
                </li>
                <li>
                    <a href="">15个流行编程语言及其应用</a>
                </li>
                <li>
                    <a href="">2020年最具“钱途”的编程语言</a>
                </li>
            </ul>
        </div>
    </div>
</div>
