<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootsnav.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/repair.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/fonts/iconfont.css">

    <style>
        @media (max-width: 768px) {
            nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
                background-color: rebeccapurple;
            }
        }
    </style>
</head>
<body>
<!--加载框-->
<div id="initialize" class="middleCenter whiteBgColor">
    <div class="load_more_box ">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--皮肤-->
<div class="navbar-box nav-skin">
    <div class="navbar-expanded"></div>
</div>
<!--内容部分-->
<div class="container-fluid main-box">
    <div class="row">
        <div class="col-sm-3 sidebar-box hide">
            <div class="cover-img"></div>
            <div class="bottom-block">
                <h1>Bob The Blog</h1>
                <h3>有朋自远方来</h3>
                <h3>不亦乐乎</h3>
            </div>
        </div>
        <div class="col-sm-offset-3 main-content">
            <div class="blog-container">
                <nav class="navbar navbar-default navbar-mobile bootsnav on">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                            <i class="fa fa-bars"></i>

                        </button>

                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">

                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">

                            <li><a href="#"><i class="iconfont icon-home1"></i>首页</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="iconfont icon-h5"></i>前端</a>
                                <ul class="dropdown-menu animated">

                                    <li><a href="#">beego</a></li>

                                    <li><a href="#">gin</a></li>

                                    <li class="dropdown">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>

                                        <ul class="dropdown-menu animated">

                                            <li><a href="#">Custom Menu</a></li>

                                            <li><a href="#">Custom Menu</a></li>

                                            <li class="dropdown">

                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>

                                                <ul class="dropdown-menu multi-dropdown animated">

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                </ul>

                                            </li>

                                            <li><a href="#">Custom Menu</a></li>

                                        </ul>

                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="iconfont icon-prog-golang"></i>golang</a>

                                <ul class="dropdown-menu animated">

                                    <li><a href="#">beego</a></li>

                                    <li><a href="#">gin</a></li>

                                    <li class="dropdown">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>

                                        <ul class="dropdown-menu animated">

                                            <li><a href="#">Custom Menu</a></li>

                                            <li><a href="#">Custom Menu</a></li>

                                            <li class="dropdown">

                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>

                                                <ul class="dropdown-menu multi-dropdown animated">

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                </ul>

                                            </li>

                                            <li><a href="#">Custom Menu</a></li>

                                        </ul>

                                    </li>

                                </ul>

                            </li>

                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="iconfont icon-mobile"></i>移动端</a>

                                <ul class="dropdown-menu animated">

                                    <li><a href="#">beego</a></li>

                                    <li><a href="#">gin</a></li>

                                    <li class="dropdown">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>

                                        <ul class="dropdown-menu animated">

                                            <li><a href="#">Custom Menu</a></li>

                                            <li><a href="#">Custom Menu</a></li>

                                            <li class="dropdown">

                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>

                                                <ul class="dropdown-menu multi-dropdown animated">

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                    <li><a href="#">Custom Menu</a></li>

                                                </ul>

                                            </li>

                                            <li><a href="#">Custom Menu</a></li>

                                        </ul>

                                    </li>

                                </ul>

                            </li>
                            <li><a href="#"><i class="iconfont icon-data-base"></i>数据库</a></li>

                            <li><a href="#"><i class="iconfont icon-nav_icon_Blockchain2"></i>区块链</a></li>


                            <li><a href="#"><i class="iconfont icon-qita"></i>其他</a></li>
                        </ul>

                    </div>

                </nav>
                <div>
                    4545654
                </div>
            </div>
            <footer>
                <ul class="footer-container">
                    <li>
                        <span>&copy;<span id="year"></span>&ensp;/&ensp;蜀ICP备19025155号-1</span>
                    </li>
                    <li>
                        <a href="" class="github">
                            <i class="iconfont icon-git"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="email">
                            <i class="iconfont icon-youxiang"></i>
                        </a>
                    </li>
                    <li class="user">来自成都的一名90后程序员</li>
                </ul>
            </footer>
        </div>
    </div>
</div>
</body>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<!--<script type="text/javascript" src="../static/js/bootsnav.js"></script>-->
<script>
    window.onload = function () {
        setTimeout(function () {
            $('#initialize').hide()
        }, 100);

        document.getElementById('year').innerText = new Date().getFullYear()
    }
</script>
</html>