<div class="login">
    <div class="top">
        <div class="header">
            <a href="/" class="aNone">
                <img src="/static/images/logo.f3103225.svg" alt="blog" class="blog">
                <strong class="title">Bob The Blog</strong>
            </a>
        </div>
        <div class="desc"> 最简单部署、可自定义配置 golang 服务端渲染博客 </div>
    </div>
    <div class="main">
        <div class="user-title-tag cursorPointer">
            <div class="tag active">账号密码登录</div>
            <div class="tag">手机号登录</div>
            <div class="clearfix"></div>
            <div class="lnk-bar one"></div>
        </div>

        <div class="loginForm">
            <div class="inputBox form">
                <!--账号密码登录-->
                <div class="userLogin">
                    <div>
<!--                        <input class="username" type="text">-->
                        <input type="text" class="form-control" placeholder="Text input">
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess1">Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2">
                        <span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label" for="inputWarning1">Input with warning</label>
                        <input type="text" class="form-control" id="inputWarning1">
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError1">Input with error</label>
                        <input type="text" class="form-control" id="inputError1">
                    </div>
                    <div class="has-success">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkboxSuccess" value="option1">
                                Checkbox with success
                            </label>
                        </div>
                    </div>
                    <div class="has-warning">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkboxWarning" value="option1">
                                Checkbox with warning
                            </label>
                        </div>
                    </div>
                    <div class="has-error">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkboxError" value="option1">
                                Checkbox with error
                            </label>
                        </div>
                    </div>
                </div>
                <!--手机号登录-->
                <div class="mobileLogin">
                    2
                </div>
            </div>

        </div>
    </div>
</div>