@charset "UTF-8";

$text-hover-color: #000000; // 字体hover颜色
$base-color: none; //背景色
$text-color: #ffffff; //字体颜色
$hot-text-color: #666; // 常用字体颜色
$layout--bg-color: #293038; // 侧边栏背景
$border-color: #fff;
$nav-red-color: #c0392b;
$input-bg-color: #ffffff;
$form-btn-search-bg-color: #45b6f7; // form表单搜索框btn的背景颜色
$form-input-search-border-color: #dddddd; // form表单输入框的边框颜色
$form-input-text-color: #999999; // form表单输入框字体颜色
$skin-text-color: #999999; // 左边皮肤字体颜色


// 文章
$article-list-bg-color: #ffffff; // 文字背景颜色
$article-tag-bg-color: #45bcf9;


// 夜间模式
$night-bg-color: #3f3f3f;
$day-font-color: #999999;

// 白天模式
$day-bg-color: #ffffff;
$day-font-color: #555555;