/**
该文件是文章详情文章内容部分的css
*/
@import "../gobal/gobal";
@import "../theme/themeColor";
@import "tags-list";
.article-content {
  .article-header {
    padding: 25px 0;
    margin-bottom: 20px;

    .article-title {
      margin-top: 0;
      margin-bottom: 15px;
      text-align: center;
      font-size: 26px;
    }

    .article-meta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 12px;

      span {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .article-body {
    margin-top: 30px;
  }

  .article-share {
    margin-top: 30px;
    a {
      font-size: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 160px;
      height: 50px;
      border-radius: 40px;
      text-align: center;
      text-decoration: none;
      border: 1px solid #e78170;
      color: #e78170;
      &.active {
        border-color: #de533c;
        background-color: #de533c;
        color: #ffffff;
      }
      &:hover {
        text-decoration: none;
        color: #e78170;
        background: #f6cec7;
        border-color: #f6cec7;
      }
      &:focus {
        text-decoration: none;
      }
      span {
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        &:first-child {
          flex: 1;
        }
        &:last-child {
          min-width: 30%;
          border-left: 1px solid;
        }
      }
    }
  }

  .prevNext {
    position: relative;
    margin: 30px 0;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      display: block;
      width: 1px;
    }
    > div {
      float: left;
      width: 50%;
      &.prev,&.next {
        margin-bottom: 15px;
      }
      .prevArticle,.nextArticle {
        @include text-overflow()
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.day-mode {
  .article-content {
    .article-header {
      .article-meta {
        span, a {
          color: #999999;
        }
      }
      a {
        color: #555555;
      }
      border-bottom: 1px solid #eaeaea;
    }

    .article-tags {
      border-bottom: 1px solid #eaeaea;

      a {
        color: #eaeaea;
      }
    }

    .prevNext {
      &:before {
        background-color: #eeeeee;
      }
      > div {
        a {
          color: #555555;
        }
        &:hover a {
          color: #000000;
        }
      }
    }
  }

}

.night-mode {
  .article-content {
    .article-header {
      .article-meta {
        span, a {
          color: #a8a8a8;
        }
      }
      a {
        color: #999999;
      }

      border-bottom: 1px solid #656565;
    }

    .article-tags {
      border-bottom: 1px solid #656565;

      a {
        color: #eaeaea;
      }
    }

    .prevNext {
      &:before {
        background-color: #555;
      }
      > div {
        a {
          color: #999999;
        }
        &:hover {
          color: #ffffff;
          a {
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .article-content {
    .prevNext {
      &::before {
        display: none;
      }
      > div {
        width: 100%;
        &:last-child {
          text-align: left;
        }
        .br {
          display: none;
        }
      }
    }
  }
}