.DS_Store
/dist/
/server1/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

**/gulp/node_modules/
static/
views/

easy_go
easy_go.exe
easy_go.exe~

/OAuth/OAuth.exe
/admin/build.bat
/blog/build.bat

admin/admin
admin/admin.exe
admin/admin.exe~

blog/blog
blog/blog.exe
blog/blog.exe~
