@charset "UTF-8";
/*
这里是响应式适配屏幕
*/
@media (min-width: 1679px) {
  .article-list {
    width: 978px; } }

@media (max-width: 768px) {
  .article-list {
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 768px) {
  .article-list {
    margin-left: 30px;
    margin-right: 30px; } }
