@charset "UTF-8";
/**
该文件是文章详情文章内容部分的css
*/
.article-content .article-header {
  padding: 25px 0;
  margin-bottom: 20px; }
  .article-content .article-header .article-title {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px; }
  .article-content .article-header .article-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px; }
    .article-content .article-header .article-meta span {
      margin-right: 20px; }
      .article-content .article-header .article-meta span:last-child {
        margin-right: 0; }

.article-content .article-tags {
  text-align: center;
  padding: 0 23px 17px 23px; }
  .article-content .article-tags a {
    display: inline-block;
    padding: 4px 7px 3px;
    margin: 0 4px 4px 0;
    font-size: 12px;
    opacity: .85;
    cursor: pointer; }
    .article-content .article-tags a:hover {
      opacity: 1; }
    .article-content .article-tags a:nth-child(6n + 1) {
      background: #727577; }
    .article-content .article-tags a:nth-child(6n + 2) {
      background: #a77676; }
    .article-content .article-tags a:nth-child(6n + 3) {
      background: #5d5252; }
    .article-content .article-tags a:nth-child(6n + 4) {
      background: #5a5a7d; }
    .article-content .article-tags a:nth-child(6n + 5) {
      background: #bf8835; }
    .article-content .article-tags a:nth-child(6n + 6) {
      background: #929266; }

.article-content .article-body {
  margin-top: 30px; }

.article-content .article-share a {
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e78170;
  color: #e78170; }
  .article-content .article-share a:hover {
    text-decoration: none;
    color: #e78170;
    background: #f6cec7;
    border-color: #f6cec7; }
  .article-content .article-share a:focus {
    text-decoration: none; }
  .article-content .article-share a span {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 18px; }
    .article-content .article-share a span:first-child {
      flex: 1; }
    .article-content .article-share a span:last-child {
      min-width: 30%;
      border-left: 1px solid; }

.article-content .prevNext {
  position: relative; }
  .article-content .prevNext:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    display: block;
    width: 1px; }
  .article-content .prevNext > div {
    float: left;
    width: 50%; }
    .article-content .prevNext > div:last-child {
      text-align: right; }

.day-mode .article-content .article-header {
  border-bottom: 1px solid #eaeaea; }
  .day-mode .article-content .article-header .article-meta span, .day-mode .article-content .article-header .article-meta a {
    color: #999999; }
  .day-mode .article-content .article-header a {
    color: #555555; }

.day-mode .article-content .article-tags {
  border-bottom: 1px solid #eaeaea; }
  .day-mode .article-content .article-tags a {
    color: #eaeaea; }

.day-mode .article-content .prevNext:before {
  background-color: #eeeeee; }

.day-mode .article-content .prevNext > div a {
  color: #555555; }

.day-mode .article-content .prevNext > div:hover a {
  color: #000000; }

.night-mode .article-content .article-header {
  border-bottom: 1px solid #656565; }
  .night-mode .article-content .article-header .article-meta span, .night-mode .article-content .article-header .article-meta a {
    color: #a8a8a8; }
  .night-mode .article-content .article-header a {
    color: #999999; }

.night-mode .article-content .article-tags {
  border-bottom: 1px solid #656565; }
  .night-mode .article-content .article-tags a {
    color: #eaeaea; }

.night-mode .article-content .prevNext:before {
  background-color: #555555; }

.night-mode .article-content .prevNext > div a {
  color: #999999; }

.night-mode .article-content .prevNext > div:hover {
  color: #ffffff; }
  .night-mode .article-content .prevNext > div:hover a {
    color: #ffffff; }

@media (max-width: 768px) {
  .article-content .prevNext::before {
    display: none; }
  .article-content .prevNext > div {
    width: 100%; }
    .article-content .prevNext > div:last-child {
      text-align: left; }
    .article-content .prevNext > div .br {
      display: none; } }

.sidebar .widget {
  margin-bottom: 15px; }
  .sidebar .widget:last-child {
    margin-bottom: 0; }
  .sidebar .widget h4 {
    padding: 10px 15px;
    margin: 0; }
  .sidebar .widget ul {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; }
    .sidebar .widget ul li {
      margin-bottom: 5px;
      list-style-type: disc; }
      .sidebar .widget ul li:last-child {
        margin-bottom: 0; }

.day-mode .sidebar .widget {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #eaeaea; }
  .day-mode .sidebar .widget h4 {
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb; }
  .day-mode .sidebar .widget ul li {
    color: #555555; }
    .day-mode .sidebar .widget ul li a {
      color: #555555; }
    .day-mode .sidebar .widget ul li:hover a {
      color: #000000; }

.night-mode .sidebar .widget {
  background-color: #3f3f3f;
  border: 1px solid #656565; }
  .night-mode .sidebar .widget h4 {
    color: #cccccc;
    background-color: #454545; }
  .night-mode .sidebar .widget ul li {
    color: #999999; }
    .night-mode .sidebar .widget ul li a {
      color: #999999; }
    .night-mode .sidebar .widget ul li:hover {
      color: #ffffff; }
      .night-mode .sidebar .widget ul li:hover a {
        color: #ffffff; }

@media (min-width: 1199px) {
  .main-box {
    padding-left: 45px; } }

@media (max-width: 768px) {
  nav.navbar.bootsnav {
    left: 0 !important; } }

nav.navbar.bootsnav {
  overflow: hidden;
  left: 45px; }
  nav.navbar.bootsnav .nav.navbar-nav {
    max-width: 1200px;
    margin: 0 auto;
    float: none !important; }

@media (min-width: 768px) {
  .main-box ul.footer-container {
    padding-left: 25% !important; } }

@media (min-width: 992px) {
  .main-box ul.footer-container {
    padding-left: 25% !important; } }

.article-wrap {
  max-width: 1200px;
  margin: 0 auto; }
  .article-wrap .article-content {
    padding: 0 20px;
    margin-right: 380px;
    height: 1400px;
    border-radius: 4px; }
  .article-wrap .sidebar {
    position: fixed;
    width: 360px;
    margin-left: 20px; }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .article-wrap .article-content {
    margin: 0 15px; }
  .article-wrap .sidebar {
    display: none; } }

@media (max-width: 480px) {
  .article-wrap .article-content {
    margin: 0 10px; }
  .article-wrap .sidebar {
    display: none; } }

.day-mode .article-content {
  background-color: #ffffff;
  border: 1px solid #eaeaea; }

.night-mode .article-content {
  background-color: #3f3f3f;
  border: 1px solid #656565; }

.article-h1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-200%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .article-h1 .articleTitle {
    margin: 0 auto;
    padding-left: 20px;
    max-width: 1200px;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word; }

.artile-ul {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.artile-ul.article-current {
  transform: translateY(-100%); }

.article-h1.article-current {
  transform: translateY(-100%); }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
