@charset "UTF-8";
.day-mode .article-list {
  background-color: #ffffff; }

.night-mode .article-list {
  background-color: #3f3f3f; }

.article-list {
  box-sizing: border-box; }
  .article-list .article-item {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #999999;
    padding: 15px; }
    .article-list .article-item .left_img {
      width: 220px;
      height: 150px;
      margin-right: 10px;
      border-radius: 5px;
      overflow: hidden; }
      .article-list .article-item .left_img > a {
        display: block; }
        .article-list .article-item .left_img > a img {
          width: 100%;
          height: 150px; }
    .article-list .article-item .right-html {
      width: calc(100% - 230px); }
      .article-list .article-item .right-html .title_tag .classTag {
        position: relative;
        display: inline-block;
        top: -2px;
        padding: 3px 6px;
        margin-right: 6px;
        border-radius: 3px;
        color: #ffffff;
        background-color: #45bcf9;
        font-size: 12px;
        text-decoration: none; }
        .article-list .article-item .right-html .title_tag .classTag:before {
          position: absolute;
          display: inline;
          right: -8px;
          top: 50%;
          margin-top: -4px;
          content: "";
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-left: 8px solid #45bcf9;
          border-bottom: 4px solid transparent; }
      .article-list .article-item .right-html .title_tag .article-title {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
        font-size: larger;
        letter-spacing: 1px; }
        .article-list .article-item .right-html .title_tag .article-title a {
          margin-right: 3px;
          font-size: 16px;
          font-weight: bold; }
          .article-list .article-item .right-html .title_tag .article-title a:hover {
            text-decoration: none; }
      .article-list .article-item .right-html .title_tag .isTop {
        display: inline-block;
        padding: 4px 6px;
        border: solid 1px #c0392b;
        border-radius: 3px;
        color: #c0392b; }
      .article-list .article-item .right-html .article {
        margin-top: 20px;
        margin-bottom: 5px; }
        .article-list .article-item .right-html .article .text {
          line-height: 24px;
          color: #666;
          text-indent: 2em; }
      .article-list .article-item .right-html .meta {
        margin-bottom: 0;
        font-size: 14px; }
        .article-list .article-item .right-html .meta li {
          display: inline;
          margin-right: 20px; }
          .article-list .article-item .right-html .meta li:last-child {
            margin-right: 0; }
          .article-list .article-item .right-html .meta li .iconfont {
            vertical-align: middle;
            font-size: 14px; }
          .article-list .article-item .right-html .meta li span {
            vertical-align: middle; }

/*
这里是响应式适配屏幕
*/
@media (max-width: 768px) {
  .article-list .left_img {
    display: none; }
  .article-list .right-html {
    width: 100% !important; }
    .article-list .right-html .article {
      margin-top: 2px !important;
      margin-bottom: 2px !important; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .article-list .article-item {
    padding: 5px; }
    .article-list .article-item .left_img {
      width: 160px;
      height: 109px; }
      .article-list .article-item .left_img > a {
        border-radius: 5px; }
        .article-list .article-item .left_img > a img {
          width: 100%;
          height: 109px; }
    .article-list .article-item .right-html {
      width: calc(100% - 160px); }
      .article-list .article-item .right-html .article {
        margin-top: 5px;
        margin-bottom: 5px; } }

@media (min-width: 1679px) {
  .article-list {
    width: 978px; } }

@media (min-width: 768px) {
  .article-list {
    margin-left: 30px;
    margin-right: 30px; } }
