@charset "UTF-8";
/*
这里是响应式适配屏幕
*/
@media (min-width: 1679px) {
  .article-list {
    width: 978px; } }

@media (max-width: 768px) {
  .article-list {
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 768px) {
  .article-list {
    margin-left: 30px;
    margin-right: 30px; } }

.article-list {
  background-color: #ffffff; }
  .article-list .article-item {
    display: flex;
    border-bottom: 1px dashed #999999;
    padding: 15px; }
    .article-list .article-item .left_img {
      width: 220px;
      height: 150px;
      margin-right: 10px;
      border-radius: 5px;
      overflow: hidden; }
      .article-list .article-item .left_img > a {
        display: block; }
        .article-list .article-item .left_img > a img {
          width: 100%; }
    .article-list .article-item .right-html {
      margin-top: 15px;
      width: calc(100% - 230px); }
      .article-list .article-item .right-html .title_tag {
        margin-top: 2px; }
        .article-list .article-item .right-html .title_tag .classTag {
          position: relative;
          display: inline-block;
          top: -2px;
          padding: 3px 6px;
          margin-right: 6px;
          border-radius: 3px;
          color: #ffffff;
          background-color: #45bcf9;
          font-size: 12px;
          text-decoration: none; }
          .article-list .article-item .right-html .title_tag .classTag:before {
            position: absolute;
            display: inline;
            right: -8px;
            top: 50%;
            margin-top: -4px;
            content: "";
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-left: 8px solid #45bcf9;
            border-bottom: 4px solid transparent; }
        .article-list .article-item .right-html .title_tag .article-title {
          display: inline;
          margin-top: 0;
          margin-bottom: 0;
          font-size: larger;
          letter-spacing: 1px; }
          .article-list .article-item .right-html .title_tag .article-title a {
            font-size: 16px;
            font-weight: bold;
            color: #666; }
            .article-list .article-item .right-html .title_tag .article-title a:hover {
              color: #000000;
              text-decoration: none; }
        .article-list .article-item .right-html .title_tag .isTop {
          margin-left: 6px;
          padding: 4px 6px;
          border: solid 1px #c0392b;
          border-radius: 3px;
          background-color: #ffffff;
          color: #c0392b; }
      .article-list .article-item .right-html .article {
        margin-top: 20px;
        margin-bottom: 5px; }
        .article-list .article-item .right-html .article .text {
          line-height: 24px;
          color: #666;
          text-indent: 2em; }
      .article-list .article-item .right-html .meta {
        margin-bottom: 0;
        font-size: 14px; }
        .article-list .article-item .right-html .meta li {
          display: inline;
          margin-right: 20px;
          color: #666; }
          .article-list .article-item .right-html .meta li:last-child {
            margin-right: 0; }
          .article-list .article-item .right-html .meta li .iconfont {
            vertical-align: middle;
            font-size: 14px; }
          .article-list .article-item .right-html .meta li span {
            vertical-align: middle; }
