@charset "UTF-8";
@media (min-width: 768px) {
  .col-sm-3 {
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: inherit; } }

/*loading加载框*/
#initialize {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%; }

/** 皮肤*/
@media (min-width: 768px) {
  .navbar-box.nav-skin {
    position: fixed;
    width: 45px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: none; } }

@media (min-width: 1199px) {
  .sidebar-box {
    display: block !important; } }

@media (min-width: 992px) {
  .main-box {
    padding-left: 60px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-box {
    padding-left: 45px;
    background-color: red; }
    .main-box .sidebar-box {
      display: none !important; }
    .main-box .col-sm-offset-3 {
      margin-left: 0; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-box {
    padding-left: 45px; }
  .col-sm-offset-3 {
    margin-left: 0; } }

@media (min-width: 768px) {
  .main-box .row {
    margin: 0; }
  .main-box .sidebar-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    left: 45px; }
    .main-box .sidebar-box .cover-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-image: url("../images/bg.jpg"); }
    .main-box .sidebar-box .bottom-block {
      position: absolute;
      bottom: 0;
      padding: 30px;
      color: #fff; } }

.main-content {
  position: relative;
  min-height: 100vh; }
  .main-content .blog-container {
    min-height: calc(100vh - 51px);
    padding-bottom: 51px; }
  .main-content ul.footer-container {
    margin: 0;
    padding-left: 30px; }
  .main-content .footer-container {
    padding: 10px 0 10px 10px;
    border-top: solid 1px #d9d9d9;
    color: rgba(0, 0, 0, 0.45); }
    .main-content .footer-container li {
      display: inline-block;
      margin-right: 10px; }
      .main-content .footer-container li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        font-size: 18px; }
        .main-content .footer-container li a i {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.45); }
        .main-content .footer-container li a.github:hover {
          background-color: #49be38; }
          .main-content .footer-container li a.github:hover i {
            color: #ffffff; }
        .main-content .footer-container li a.email:hover {
          background-color: #f57e42; }
          .main-content .footer-container li a.email:hover i {
            color: #ffffff; }
      .main-content .footer-container li.user {
        font-family: fantasy; }
