.nav > li:after {
  height: 2px; }

.nav.navbar-nav i, .nav.navbar-nav i::after {
  margin-right: 4px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.navbar {
  box-shadow: 0 1px 4px #eee; }

nav.navbar.bootsnav ul.nav > li:hover {
  background: none; }

nav.navbar.bootsnav ul.nav > li.active, nav.navbar.bootsnav ul.nav > li i.active {
  color: none; }

nav.navbar.bootsnav .navbar-toggle {
  background-color: transparent; }

@media (max-width: 992px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 768px) {
  nav.navbar.bootsnav.navbar-mobile .navbar-collapse, .navbar-header {
    background-color: #293038 !important; }
  nav.navbar.bootsnav .navbar-toggle {
    top: 0; }
  nav.navbar.bootsnav.navbar-mobile ul.nav > li > a {
    color: #ffffff !important; }
  nav.navbar.bootsnav .navbar-header button.navbar-toggle i, nav.navbar.bootsnav .navbar-nav button.navbar-toggle i {
    color: #ffffff; }
  .nav.navbar-nav #handleSearch {
    display: none; }
  #drawer-mask.navbar-toggle {
    margin-left: 0; }
  nav.navbar.bootsnav #drawer-mask.navbar-toggle {
    margin-top: 0; }
  nav.navbar.bootsnav .navbar-toggle[aria-expanded=true] .fa {
    visibility: hidden; } }

#drawer-mask {
  position: fixed;
  z-index: 98;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45); }

#drawer-mask.navbar-toggle[aria-expanded=false] {
  display: none; }

#drawer-mask.navbar-toggle[aria-expanded=true] {
  display: block; }

.blog-container {
  position: relative; }

#search-form-box {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  transition: all 0.25s; }

@media (max-width: 768px) {
  #search-form-box {
    padding: 0 15px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #search-form-box {
    padding: 0 10%; } }

@media screen and (min-width: 992px) and (max-width: 1170px) {
  #search-form-box {
    padding: 0 35% 0 20%; } }

@media screen and (min-width: 1170px) and (max-width: 1679px) {
  #search-form-box {
    padding: 0 33% 0 13%; } }

@media (min-width: 1679px) {
  #search-form-box {
    padding: 0 42% 0 12%; } }

nav.navbar.bootsnav {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0; }

@media (min-width: 768px) {
  .night-mode .main-content nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    background-color: #3f3f3f; }
    .night-mode .main-content nav.navbar.bootsnav li.dropdown ul.dropdown-menu li:hover {
      background-color: #5c5c5c; }
    .night-mode .main-content nav.navbar.bootsnav li.dropdown ul.dropdown-menu li > a {
      padding: 10px 15px;
      color: #999999;
      border-bottom: solid 1px #2f2f2f; }
      .night-mode .main-content nav.navbar.bootsnav li.dropdown ul.dropdown-menu li > a:hover {
        color: #ffffff;
        background-color: transparent; }
  .day-mode nav.navbar.bootsnav ul.nav > li > a {
    color: #474747; } }

.night-mode .main-content {
  color: #999999;
  background-color: #3f3f3f; }
  .night-mode .main-content nav.navbar.bootsnav {
    box-shadow: 0 1px 4px #2f2f2f; }
    .night-mode .main-content nav.navbar.bootsnav ul.nav > li > a {
      color: #999999; }
  .night-mode .main-content .navbar-default .navbar-collapse, .night-mode .main-content .navbar-default .navbar-form {
    background-color: #3f3f3f; }
  .night-mode .main-content .article-list .article-item {
    border-bottom: 1px dashed #2f2f2f; }
  .night-mode .main-content .article-item .right-html .article-title a, .night-mode .main-content .article-item .right-html .article p.text, .night-mode .main-content .article-item .right-html .meta > li i, .night-mode .main-content .article-item .right-html .meta > li span {
    color: #b1b1b1; }
  .night-mode .main-content .article-item:hover .article-title a, .night-mode .main-content .article-item:hover .article p.text, .night-mode .main-content .article-item:hover .meta > li i, .night-mode .main-content .article-item:hover .meta > li span {
    color: #ffffff; }
  .night-mode .main-content .footer-container {
    border-top: solid 1px #2f2f2f; }
    .night-mode .main-content .footer-container a {
      background-color: #2f2f2f; }
      .night-mode .main-content .footer-container a i {
        color: #999999; }

.day-mode {
  color: #555555;
  background-color: #ffffff; }
  .day-mode .main-content .navbar {
    box-shadow: 0 1px 4px #eee; }
  .day-mode .main-content .article-item .right-html .article-title a, .day-mode .main-content .article-item .right-html .article p.text, .day-mode .main-content .article-item .right-html ul.meta li > i, .day-mode .main-content .article-item .right-html .meta li > span {
    color: #555555; }
  .day-mode .main-content .article-item .right-html:hover .article-title a, .day-mode .main-content .article-item .right-html:hover .article p.text, .day-mode .main-content .article-item .right-html:hover ul.meta li > i, .day-mode .main-content .article-item .right-html:hover .meta li > span {
    color: #000000; }
  .day-mode .footer-container {
    border-top: solid 1px #d9d9d9; }
    .day-mode .footer-container li {
      color: #999999; }
    .day-mode .footer-container a i {
      color: #999999; }

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
  padding: 0; }

.day-mode .article-list {
  background-color: #ffffff; }

.night-mode .article-list {
  background-color: #3f3f3f; }
