@media (max-width: 992px) {
  nav.navbar.bootsnav.navbar-mobile ul.nav > li > a {
    color: #fff; }
  nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
    color: #fff; } }

.nav > li:after {
  height: 2px; }

.nav.navbar-nav i, .nav.navbar-nav i::after {
  margin-right: 4px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03); }

nav.navbar.bootsnav ul.nav > li > a {
  color: #666; }

nav.navbar.bootsnav ul.nav > li:hover {
  background: #13c2c2; }

@media (max-width: 992px) {
  nav.navbar.bootsnav.navbar-mobile ul.nav > li > a {
    color: #666 !important; }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 768px) {
  nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
    background-color: #293038 !important; }
  .navbar-toggle {
    margin-left: 30px; } }

.drawer-mask {
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45); }

@media (max-width: 767px) {
  nav.navbar.bootsnav .navbar-header {
    padding-left: 280px; } }
