.tools_box {
  text-align: center;
  background: #fff;
  margin: 20px 0
}

.tools_box p {
  color: #333;
  font-size: 18px;
  padding: 20px 0
}

.tools_box b {
  border: 1px solid #e7e7e2;
  display: inline-block;
  margin-right: -5px;
  width: 115px;
  height: 35px;
  text-align: center;
  border-right: none;
  line-height: 35px
}

.tools_box a:first-child b {
  border-radius: 5px 0 0 5px
}

.tools_box a:last-child b {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #e7e7e2
}

.tools_title {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd
}

.tools_box b.on {
  background-color: #35a1e1;
  border-color: #35a1e1;
  color: #fff
}

.pojie_box {
  color: #777;
  padding: 0 150px 50px
}

.pojie {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  font-size: 15px
}

.pojie input {
  border: 1px solid #ddd;
  height: 30px;
  width: 350px;
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px
}

.pojie .emptyBtn {
  background: #666
}

.result_box input {
  border: 1px solid #ddd;
  height: 30px;
  width: 450px;
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px
}

.result_box div {
  margin-bottom: 30px;
  color: #777
}

.result_box div.inlinex {
  margin-bottom: 16px
}

.result_box span {
  color: #777
}

.result_box {
}

.tools_big {
  position: relative;
  height: 600px
}

.tools_big ul {
  list-style: none
}

.tools_big ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  display: none
}

.tools_big ul li.show {
  display: block
}

.tools_title b {
  cursor: pointer;
  padding: 0 3px
}

.tools_title a {
  color: #666
}

.tools_title a:hover {
  color: #35a1e1
}

.pojie_box {
  padding: 0 150px 20px
}

.main-content, .banner-bg {
  float: none;
  height: auto
}

.areaLabel {
  text-align: left;
  width: 100%;
  display: inline-block;
  padding-left: 5px
}

#searchApplyForm {
  margin-top: 10px
}

.pojie textarea, .result_box textarea {
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 30px
}

.areaClass {
  float: left;
  width: 100%;
  height: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  line-height: 20px;
  border: 1px solid #51cbee;
  margin-bottom: 5px
}

.searchResult {
  margin: 10px auto;
  width: 700px;
  height: 260px;
  background: #eee;
  padding-top: 40px;
  padding-left: 75px
}

.quanClass {
  background-color: #ff5540;
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 180px;
  overflow: hidden;
  float: left;
  color: #fff;
  font-size: 42px;
  border-radius: 5px
}

.result_box .quanResult {
  text-align: left
}

.searchResult {
  background-color: #fdfdfd;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.result_box .quanClass {
  color: #fff
}

.result_box .infoTitle {
  margin-bottom: 20px
}

.result_box span {
  color: #c3c2c2
}

.result_box .quanResult-text p span {
  color: #bdbdbd
}

.quanResult .quanResult-title {
  color: #666;
  font-size: 32px;
  padding-top: 5px;
  margin-bottom: 20px;
  line-height: 24px
}

.tools_box .result_box p {
  padding: 0;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  color: #777
}

.result_box .quanResult-text p span.rfem {
  color: red
}

.pojie .btnu {
  background: #7dbfe6;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding-left: 0
}

.show-lrLayout {
  text-align: initial
}

.show-lrLayout .pojie_box {
  display: inline-block;
  float: left;
  width: 40%;
  padding: 20px 40px 5px 60px;
  border-right: 1px solid #f0f0f0
}

.show-lrLayout .pojie_box .pojie {
  border-bottom: none
}

.show-lrLayout .result_box {
  display: inline-block;
  width: 43%
}

.show-lrLayout .areaLabel {
  padding: 10px 0 5px 5px
}

.show-lrLayout .areaClass {
  height: 160px;
  width: 95%;
  padding: 12px 13px
}

.show-lrLayout .result_box .searchResult {
  width: 100%;
  padding: 30px 0 0 30px;
  height: 210px
}

.show-lrLayout .result_box {
  padding: 20px 0 30px 30px
}

.show-lrLayout .pojie button {
  float: right;
  margin-left: 15px;
  cursor: pointer
}

.show-lrLayout .searchResult {
  border: 1px solid #e0e0e0;
  background: #f3f2f2;
  box-shadow: initial;
  border-radius: 5px
}

.show-lrLayout .infoTitle {
  font-size: 18px
}

.show-lrLayout .pojie textarea {
  color: #666;
  padding: 12px 13px
}

.show-lrLayout textarea {
  color: #666;
  padding: 12px 13px;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 30px
}

.flagr {
  color: red !important
}

#url_1 {
  background: #f5f5f5;
  border-color: #efefef;
  color: #666
}

a {
  text-decoration: none
}

p {
  margin: 0
}

.infoArea {
  position: relative;
  width: 900px;
  margin: 0 auto;
  margin-top: 40px;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.infoBox {
  position: relative;
  float: left;
  width: 900px;
  margin-left: 145px;
  margin-top: 20px;
  padding-bottom: 25px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, .2);
  transition: all linear .6s;
  -moz-transition: all linear .6s;
  -webkit-transition: all linear .6s
}

.infoBox.only {
  width: 900px;
  float: none;
  margin-top: 40px;
  margin-left: 145px
}

.Input_Foot {
  width: 100%;
  line-height: 38px;
  text-align: left
}

.imgBtn {
  position: absolute;
  top: 8px;
  right: 20px;
  height: 30px;
  width: 30px;
  color: #fff;
  line-height: 34px;
  text-align: center;
  background-color: #ff9000;
  font-family: 寰蒋闆呴粦;
  font-size: 16px;
  cursor: pointer;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .1)
}

.imgBtn:hover {
  background-color: #ff7680
}

.imgBtn:active {
  background-color: #f64c59;
  line-height: 36px
}

.postBtn {
  float: right;
  height: 38px;
  margin-right: 20px;
  padding: 0 20px;
  background-color: #259fd8;
  border-left: 1px solid #ccc;
  color: #fff;
  font: 16px 寰蒋闆呴粦, Arial, Helvetica, sans-serif;
  line-height: 38px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.postBtn:hover {
  color: #fff;
  background-color: #4cb0f9
}

.postBtn:active {
  line-height: 40px;
  background-color: #2798eb
}

.faceDivBox {
  position: relative;
  width: 42%;
  height: 420px;
  margin: 20px 40px 0 0;
  border-top: none;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .15);
  box-shadow: 0 0 16px rgba(0, 0, 0, .15)
}

.closeFaceBox {
  right: -10px;
  border: 1px solid #eae4e4;
  border-left: none;
  border-bottom: none
}

.faceDiv {
  height: 420px;
  overflow: hidden
}

.faceDiv.isScrolly {
  overflow-y: scroll
}

.emoji-box {
  padding-left: 100px;
  text-align: left
}

.for-hot {
  padding: 10px 0
}

.faceDiv .emoji-box img {
  position: relative;
  padding: 6px;
  cursor: pointer
}

.faceDiv .emoji-box img:hover {
  background-color: #f3f3f4
}

.faceDiv > img:active {
  padding: 4px 3px 2px
}

.contentBox {
  height: 260px;
  overflow: hidden
}

.tabbox {
  position: absolute;
  top: 0;
  width: 94px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid #e0e0e0
}

.emoji-tab a {
  display: inline-block;
  float: left;
  width: 94px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #999;
  border-radius: 4px
}

.emoji-tab a.active {
  background: #ff9000;
  color: #fff
}

.emoji-tab a:hover {
  color: #ff9000
}

.emoji-tab a:focus {
  text-decoration: none;
}

.emoji-tab a.active:hover {
  color: #fff
}

.emoji-box section {
  display: none
}

#contentVal {
  opacity: 0;
  position: absolute;
  z-index: -16
}

.textarea {
  margin: 0 20px 20px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  text-align: left;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15) inset
}

.textarea.clicked {
  border-color: #fa7d3c;
  box-shadow: none
}

.tabbtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 0
}

.textarea p {
  padding: 0
}

.tbtn {
  display: inline-block;
  height: 44px;
  width: 50%;
  color: #999;
  font-family: 瀹嬩綋;
  font-size: 16px;
  line-height: 44px
}

.tbtn:hover {
  background-color: #e8e8e8;
  color: #5cadfc
}

.newLine {
  height: 0 !important
}

.tools_box .info-title {
  padding: 0;
  padding-left: 20px;
  line-height: 48px;
  position: relative;
  text-align: left
}

.info-title span {
  color: #999;
  font-size: 16px
}

.deletebtn {
  position: absolute;
  bottom: 30px;
  left: 480px;
  color: #889db6
}

.cell:after, .clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.cell .clearfloat {
  zoom: 1
}

.infoStorage .cellwrap:nth-child(odd) .cell .cellinfo .deletebtnx {
  right: -10px
}

.infoStorage .cellwrap:nth-child(even) .cell .cellinfo .deletebtnx {
  left: -10px
}

.deletebtnx, .deletebtnNo, .closeFaceBox {
  position: absolute;
  top: -10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #5bc0de;
  text-align: center;
  border-radius: 15px;
  transition: all linear .5s;
  -moz-transition: all linear .5s;
  -webkit-transition: all linear .5s
}

.deletebtnx:hover, .deletebtnNo:hover, .closeFaceBox:hover {
  background: #5bc0de;
  color: #fff;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg)
}

.flagInfo {
  line-height: 44px;
  color: #999;
  padding-left: 20px
}

.bradius5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.tmGrab-info-wrap {
  height: 475px;
  overflow-y: scroll;
  padding: 10px 0 0 10px
}

.grab-wrap {
  margin: 0 40px;
  padding: 20px 10px 30px;
  border-radius: 5px;
  border: 1px solid #ededed;
  text-align: left
}

.grab-wrap label {
  display: inline-block;
  padding: 7px;
  color: #7b7a7a;
  vertical-align: top
}

.tips {
  color: red;
  font-size: 14px
}

.btnbox {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px
}

.btnbox .btn, .tool-tmw .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e
}

.linkbox {
  width: 600px;
  display: inline-block
}

.b-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

#tmi, #tmv {
  text-align: left
}

#tmi img {
  height: 350px;
  width: 250px;
  margin: 5px;
  cursor: pointer
}

#tmv video, #tmv_seller video {
  margin: 10px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, .1)
}

#tmv video.current, #tmv_seller video.current {
  border: 1px solid red
}

#tmv .tmvBox, #tmv_seller .tmvBox {
  position: relative
}

#tmv .tmvBox span, #tmv_seller .tmvBox span {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 100px;
  z-index: 9
}

#tmv .tmvBox span:hover, #tmv_seller .tmvBox span:hover {
  background-color: rgba(0, 0, 0, .6)
}

#tmv .tmvBox.current-video span, #tmv_seller .tmvBox.current span {
  background-color: #f85252
}

#tmv .tmvBox.current-video video {
  border: 1px solid red
}

.tmGrab-info-wrap li {
  display: none
}

.tmGrab-info-wrap li.current {
  display: block
}

.tool-tmw {
  overflow: hidden;
  padding: 10px 20px 0 10px
}

.tool-tmw .btn {
  float: right
}

.tool-tmw .tab-tmw {
  float: left
}

.tab-tmw li {
  float: left;
  padding: 10px;
  cursor: pointer
}

.tab-tmw li.current {
  color: #2e8ded;
  border-bottom: 1px solid #2e8ded
}

.tool-tmw .loading {
  position: relative;
  float: right
}

.pl5 {
  padding-left: 5px
}

.f16 {
  font-size: 16px
}

[v-cloak] {
  display: none
}

html {
  overflow: auto !important
}

.imgMakeArea {
  min-width: 1170px;
  margin: 0 auto;
  margin-bottom: 0;
  margin-bottom: 30px;
  overflow: hidden
}

.column {
  float: left;
  margin-right: 15px;
  padding: 10px;
  background-color: #fff;
  min-height: 740px;
  padding-bottom: 1644px;
  margin-bottom: -1644px
}

.imgMake {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.imgMake .cell {
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis
}

.imgMake .cell:first-child {
  width: 100%
}

.imgMake .cell .materialImg {
  width: 100%;
  line-height: 175px;
  text-align: center;
  color: #0f81ef
}

.imgMake .cell .materialImg img {
  width: 100%;
  height: 100%;
  vertical-align: middle
}

.imgMake .cell .materialImg#materialImg0 {
  height: 362px;
  line-height: 355px;
  background-color: rgba(88, 146, 253, .5)
}

.imgMake .cell .materialImg#materialImg1 {
  height: 181px;
  background-color: rgba(117, 201, 186, .5)
}

.imgMake .cell .materialImg#materialImg2 {
  height: 181px;
  background-color: rgba(187, 221, 119, .5)
}

.imgMake .cell:hover .materialImg {
  background-color: rgba(0, 0, 0, .3) !important;
  color: #fff;
  cursor: pointer
}

.imgMake .cell:hover .materialImg img {
  width: 90%;
  height: 90%
}

.imgMakeArea {
  font-size: 16px
}

.imgMake-tips {
}

.tipsInuse {
  position: absolute;
  display: inline-block;
  z-index: 2;
  cursor: move
}

.tipsInuse#tipsInuse-round {
  right: 0;
  top: 40%;
  width: 9em;
  height: 9em
}

.tipsInuse#tipsInuse-oblong {
  width: 100%;
  left: 0;
  top: 60.2%
}

.tipsInuse img {
  width: 100%
}

.tipsInuse:hover .cleanImg {
  display: block
}

.tipsTypeBox {
  padding-top: 10px
}

.tipsTypeBox ul li:first-child {
  border-radius: 4px 0 0 4px
}

.tipsTypeBox ul li:last-child {
  border-radius: 0 4px 4px 0
}

.tipsTypeBox ul li {
  float: left;
  padding: 6px 15px;
  background-color: #fff;
  color: #007aff;
  border: 1px solid #007aff;
  cursor: pointer;
  border-left: none
}

.tipsTypeBox ul li:first-child {
  border-left: 1px solid #007aff
}

.tipsTypeBox ul li.active {
  background-color: #007aff;
  color: #fff
}

.tips-wrapper {
  margin-top: 10px
}

.tips-wrapper .tipsBox .cell {
  position: relative;
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #dedede;
  cursor: pointer
}

.tips-wrapper .tipsBox .cell:hover {
  background-color: rgba(171, 169, 169, .1)
}

.tips-wrapper .tipsBox .cell.active {
  border-color: #007aff
}

.tips-wrapper.round-wrap .tipsBox .cell:nth-child(even) {
  margin-left: 2%
}

.tips-wrapper.round-wrap .tipsBox .cell img {
  width: 100%
}

.tips-wrapper.oblong-wrap .tipsBox .cell {
  padding: 10px 20px 6px;
  margin-top: 16px
}

.tips-wrapper.oblong-wrap .tipsBox .cell img {
  width: 100%;
  height: 2.25em
}

.tipsBox {
  font-size: 16px
}

.tips-wrapper.round-wrap .tipsBox .cell {
  float: left;
  padding: .5em;
  width: 12em;
  height: 12em
}

.tips-wrapper.round-wrap .tipsBox .cell:nth-child(even) {
  margin-left: .6em
}

.tips-wrapper.round-wrap .tipsBox .cell img {
  display: none
}

.tips-wrapper.round-wrap .tipsBox .cell .tipsword {
  position: relative;
  display: block;
  overflow: hidden;
  width: 9em;
  height: 9rem;
  border: .315em solid #fff;
  -moz-border-radius: 50%;
  outline: 1px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.tips-wrapper.round-wrap .tipsBox .cell .tipsword p {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center
}

.tipsword {
  position: relative;
  display: block;
  width: 9em;
  height: 9em;
  border: .315em solid #fff;
  font-size: 16px;
  -moz-border-radius: 50%;
  outline: 1px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.tipsword p {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center
}

.tipsword p.round-text1 {
  top: 14%;
  height: 1.375em;
  line-height: 1.375em;
  font-size: 1em
}

.tipsword p.round-text2 {
  top: 29%;
  font-size: 1.75em
}

.tipsword p.round-text3 {
  top: 56%;
  z-index: 9;
  height: 2em;
  line-height: 2em;
  font-size: 1em
}

.tipsword p.round-text4 {
  bottom: .4rem;
  font-size: .875em;
  color: #fff
}

.tipsword p {
  color: #fff
}

.round-bg0 {
  background-color: #3e7eae
}

.round-bg0 p.round-text3 {
  background-color: #e3032f
}

.round-bg1 {
  background-color: #fab953
}

.round-bg1 p.round-text3 {
  background-color: #f43a33
}

.round-bg2 {
  background-color: #7604b1
}

.round-bg2 p.round-text3 {
  background-color: #fff000;
  color: #3e7eae
}

.round-bg3 {
  background-color: #852832
}

.round-bg3 p.round-text3 {
  background-color: #f94a2f
}

.TpicBgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-repeat: no-repeat;
  background-size: 11em 11em;
  z-index: 1
}
