<!-- Start Content-->
<div class="container-fluid admin-custom" id="welcome">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-left mt-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/welcome"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item active">文章列表</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <div class="col-md">
                <div class="card mb-3">
                    <!-- Add `.with-elements` to the parent `.card-header` element -->
                    <div class="card-header with-elements">
                        <h5 class="card-header-title mr-2">
                            文章列表
                        </h5>
                        <div class="card-header-elements ml-md-auto">
                            <button type="button" class="btn btn-xs btn-outline-primary"><a
                                        href="/article/details"><span class="ion ion-md-add"></span> 新增</a></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 pr-0">
                                    <input type="text" class="form-control" placeholder="请输入要搜索的文章标题">
                                </div>
                                <div class="col-md-4 col-sm-6 pr-0">
                                    <select class="select2 form-control select2-multiple" data-toggle="select2"
                                            multiple="multiple" data-placeholder="Choose ...">
                                        {{range $i, $v := .articleTypeList}}
                                            {{if $v.child}}
                                                <optgroup label="{{$v.name}}">
                                                    {{range $key, $item := $v.child}}
                                                        <option value="{{$v.id}},{{$item.id}}">{{$item.name}}</option>
                                                    {{end}}
                                                </optgroup>
                                            {{else if eq $v.child_status false}}
                                                <option value="{{$v.id}}">{{$v.name}}</option>
                                            {{end}}
                                        {{end}}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn  btn-primary">查询</button>
                                    <button class="btn  btn-danger">重置</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <table id="datatable-buttons" class="table table-striped dt-responsive nowrap" width="100%">
                                <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>分类</th>
                                    <th>创建时间</th>
                                    <th>修改时间</th>
                                    <th>置顶</th>
                                    <th>点击量</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                {{/*<tbody>
                                {{range $i, $v := .articleList.list}}
                                    <tr>
                                        <td>
                                            <a href="/article/details?id=1&title={{$v.Title}}"
                                               class="text-c-blue">{{$v.Title}}</a>
                                        </td>
                                        <td>20</td>
                                        <td>{{$v.CreatedTime.Format "2006-01-02 15:04:05"}}</td>
                                        {{if $.v.UpdateTime.Valid}}
                                            <td>{{$v.UpdateTime}}</td>
                                        {{else}}
                                            <td></td>
                                        {{end}}
                                        {{if and ($.top_id.Valid) (eq $.top_id.Int64 $v.Id)}}
                                            <td class="text-danger">置顶</td>
                                        {{else}}
                                            <td>普通</td>
                                        {{end}}
                                        <td>{{$v.View}}</td>
                                        <td>

                                            <a href="/article/details?id=1&title={{$v.Title}}"
                                               class="text-c-blue">详情</a>
                                            <!-- Danger header modal -->
                                            <a href="#!" class="text-c-blue text-warning" data-toggle="modal"
                                               data-target="#myModal">隐藏</a>
                                            <a href="#!" class="text-c-blue text-danger" data-toggle="modal"
                                               data-target="#myModal">删除</a>
                                        </td>
                                    </tr>
                                {{end}}
                                </tbody>*/}}
                            </table>
                        </div>
                        <ul class="pagination pagination-rounded justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- sample modal content -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">隐藏文章</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <h4 class="mt-0 text-center">
                            <i class="mdi text-warning mdi-alert-circle"></i>
                            <span class="font-14">是否隐藏/显示该菜单？</span>
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
</div>