<script src="/static/js/form-wizard.js"></script><script>const HOST = '/api'
    let current = 0
    function addMenu() {
        const menuName = $('#menuName').val()
        const path = $('#path').val()
        const icon = $('#icon').val()

        // 第一步
        if (menuName && menuName !== '' && path && path !== '' && icon && icon !== '') {
            $('#next-btn').removeAttr('disabled')
        } else {
            // $('#next-btn').attr('disabled', 'disabled')
        }
    }
    function goPrevOfNext(type) {
        switch (type) {
            case 1:
                // 上一步
                current -= 1
                break
            case 2:
                // 下一步
                current += 1
                break
        }

        // 第二步
        if (current === 0) {
            // 上一步可以显示。
            $('#next-prev').addClass('d-none')
        } else {
            $('#next-prev').removeClass('d-none')
        }
        if (current > 1) {
            $('#next-btn').addClass('d-none')
        }

        if (current === 2) {
            alert(2)
            // 发送请求
            $.ajax({
                type: "post",
                async: false,
                url: `/menuSetting/add`,
                data: JSON.stringify({}),
                success: function () {

                }
            })
        }

    }</script>