<!-- Start Content-->
<div class="container-fluid admin-custom" id="welcome">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-left mt-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/welcome"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/article/list">文章列表</a></li>
                        <li class="breadcrumb-item active">{{.title}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>博文详情</h5>
                </div>
                <div class="card-body">
                    <section class="article_editor">
                        <div class="article_editor_content">
                            <div class="wrapper">
                                <div class="article_editor_page">
                                    {{template "articTitle" .}}
                                    {{template "articType" .}}
                                    <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                        <li class="nav-item">
                                            <a href="#profile1" data-toggle="tab" aria-expanded="true"
                                               class="nav-link rounded-0 active">
                                                <i class="feather icon-user d-lg-none d-block mr-1"></i>
                                                <span class="d-none d-lg-block">富文本编辑器</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" onclick="window.location.href = '/article/details/markdown'">
                                            <a href="#home1" target="_blank" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                                <i class="feather icon-home d-lg-none d-block mr-1"></i>
                                                <span class="d-none d-lg-block">Markdown编辑器</span>
                                            </a>
                                        </li>

                                    </ul>
                                    <!--文本欲位置是个标签切换-->
                                    <div id="editor"></div>
                                    {{template "articleSetting" .}}
                                </div>
                            </div>
                        </div>
                        {{template "articeSave" .}}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>