<!-- Begin page -->
<div class="wrapper">
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page ml-0">
        <div class="content">

            <!-- ============================================================= -->
            <!-- ===============    Top bar header content start  ================= -->
            <!-- ============================================================= -->
            <div class="navbar-custom">
                <!------------------------------------->
                <!-- right side topbar content start -->
                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    <li class="dropdown notification-list topbar-dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="feather icon-mail noti-icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu">
                            <a href="/workplace" class="dropdown-item"><i class="feather icon-map-pin text-muted"></i> &nbsp; 我的位置</a>
                            <a href="/cover" class="dropdown-item"><i class="feather icon-upload-cloud text-muted"></i> &nbsp; 封面上传</a>
                            <a href="/workplace" class="dropdown-item"><i class="feather icon-activity text-muted"></i> &nbsp; 统计量</a>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-life-buoy text-muted"></i> &nbsp; 关于支持</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-github text-muted"></i> &nbsp; Github</a>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-slack text-muted"></i> &nbsp; 捐赠</a>
                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="feather icon-bell noti-icon"></i>
                            <span class="noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                        <span class="float-right">
                                            <a href="javascript: void(0);" class="text-dark">
                                                <small>清楚</small>
                                            </a>
                                        </span>Notification <span class="badge badge-danger badge-pill">5 new</span>
                                </h5>
                            </div>
                            <div class="slimscroll" style="max-height: 230px;">
                                <!-- item start-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary">
                                        <i class="mdi mdi-comment-account-outline"></i>
                                    </div>
                                    <p class="notify-details">已收到新订单.
                                        <small class="text-muted">1 分钟 前</small>
                                    </p>
                                </a>
                                <!-- item end-->
                                <!-- item start-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info">
                                        <i class="mdi mdi-account-plus"></i>
                                    </div>
                                    <p class="notify-details">加入会员申请.
                                        <small class="text-muted">5 小时 前</small>
                                    </p>
                                </a>
                                <!-- item end-->
                                <!-- item start-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon">
                                        <img src="/static/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle"
                                             alt=""/></div>
                                    <p class="notify-details">Cristina Pride</p>
                                    <p class="text-muted mb-0 user-msg">
                                        <small>New report file has been uploaded.</small>
                                    </p>
                                </a>
                                <!-- item end-->
                                <!-- item start-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary">
                                        <i class="mdi mdi-comment-account-outline"></i>
                                    </div>
                                    <p class="notify-details">Database sever #2 has been fully restarted.
                                        <small class="text-muted">4 days ago</small>
                                    </p>
                                </a>
                                <!-- item end-->
                                <!-- item start-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon">
                                        <img src="/static/assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle"
                                             alt=""/></div>
                                    <p class="notify-details">Karen Robinson</p>
                                    <p class="text-muted mb-0 user-msg">
                                        <small>Membership application has been added.</small>
                                    </p>
                                </a>
                                <!-- item end-->
                                <!-- item start-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info">
                                        <i class="mdi mdi-heart"></i>
                                    </div>
                                    <p class="notify-details">Herry liked
                                        <b>Admin </b>
                                        <small class="text-muted">13 days ago</small>
                                    </p>
                                </a>
                            </div>
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                查看更多
                            </a>
                        </div>
                    </li>
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mx-0" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="/static/assets/images/users/avatar-1.jpg" alt="user-image"
                                         class="rounded-circle">
                                </span>
                            <span>
                                    <span class="account-user-name">Rang Avdhut</span>
                                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-user text-muted"></i> &nbsp; 我的资料</a>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-mail text-muted"></i> &nbsp; 消息中心</a>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-settings text-muted"></i> &nbsp; 设置中心</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:" class="dropdown-item" data-toggle="modal" data-target="#warning-alert-modal">
                                <i class="feather icon-power text-danger"></i> &nbsp; 推出登陆</a>
                        </div>
                    </li>
                </ul>
                <!-- right side topbar content end -->
                <!------------------------------------->

                <!---------------------------------------------->
                <!-- Left side topbar content Start -->

                <!-- Minimenu and mobille toggle button start -->
                <button class="go-black" data-toggle="tooltip" data-placement="top" title="" data-original-title="返回，数据将会丢失，请先保存！">
                    <i class="ion ion-ios-arrow-back"></i>
                    <a href="/article/list" class="text-black-50">文章管理</a>
                </button>

            </div>


            <!-- Start Content-->
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                {{template "articTitle" .}}
                            </div>
                            <div class="card-body">
                                <div class="article_editor_content">
                                    <div class="wrapper">
                                        <div class="article_editor_page">
                                            {{template "articType" .}}
                                            <!--文本欲位置是个标签切换-->
                                            <div id="editor-markdown">
                                                <textarea id="articleContent" name="content" style="display:none;"></textarea>
                                            </div>
                                            {{template "articleSetting" .}}
                                        </div>
                                    </div>
                                </div>
                                {{template "articeSave" .}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->

        </div> <!-- content -->
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!------------------------------------->
    {{template "layout/logout.html"}}
</div>
<!-- END wrapper -->