@charset "UTF-8";
/**
该文件是文章详情文章内容部分的css
*/
.tags-list .tag {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 12px; }
  .tags-list .tag.tag_1 {
    background-color: #727577; }
  .tags-list .tag.tag_2 {
    background-color: #a77676; }
  .tags-list .tag.tag_3 {
    background-color: #5d5252; }
  .tags-list .tag.tag_4 {
    background-color: #5a5a7d; }
  .tags-list .tag.tag_5 {
    background-color: #bf8835; }
  .tags-list .tag.tag_6 {
    background-color: #929266; }
  .tags-list .tag:nth-of-type(2) {
    background-color: #a77676; }
  .tags-list .tag a {
    color: #f1f1f1;
    text-decoration: none; }
    .tags-list .tag a:hover, .tags-list .tag a:focus {
      outline: none; }

.article-tags {
  text-align: center;
  padding: 0 23px 17px 23px; }
  .article-tags a {
    padding: 3px 8px;
    margin: 2px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    font-size: 12px; }
    .article-tags a:last-child {
      margin: 0; }
    .article-tags a:hover {
      opacity: 1; }
    .article-tags a.tag_1 {
      background-color: #727577; }
    .article-tags a.tag_2 {
      background-color: #a77676; }
    .article-tags a.tag_3 {
      background-color: #5d5252; }
    .article-tags a.tag_4 {
      background-color: #5a5a7d; }
    .article-tags a.tag_5 {
      background-color: #bf8835; }
    .article-tags a.tag_6 {
      background-color: #929266; }

.article-content .article-header {
  padding: 25px 0;
  margin-bottom: 20px; }
  .article-content .article-header .article-title {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px; }
  .article-content .article-header .article-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    vertical-align: top; }
    .article-content .article-header .article-meta span {
      margin-right: 20px; }
      .article-content .article-header .article-meta span:last-child {
        margin-right: 0; }

.article-content .article-body {
  margin-top: 30px; }

.article-content .article-share {
  margin-top: 30px; }
  .article-content .article-share a {
    font-size: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    height: 50px;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e78170;
    color: #e78170; }
    .article-content .article-share a.active {
      border-color: #de533c;
      background-color: #de533c;
      color: #ffffff; }
    .article-content .article-share a:hover {
      text-decoration: none;
      color: #e78170;
      background: #f6cec7;
      border-color: #f6cec7; }
    .article-content .article-share a:focus {
      text-decoration: none; }
    .article-content .article-share a span {
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
      font-size: 18px; }
      .article-content .article-share a span:first-child {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .article-content .article-share a span:last-child {
        min-width: 30%;
        border-left: 1px solid; }

.article-content .prevNext {
  position: relative;
  margin: 30px 0; }
  .article-content .prevNext:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    display: block;
    width: 1px; }
  .article-content .prevNext > div {
    float: left;
    width: 50%; }
    .article-content .prevNext > div.prev, .article-content .prevNext > div.next {
      margin-bottom: 15px; }
    .article-content .prevNext > div .prevArticle, .article-content .prevNext > div .nextArticle {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden; }
    .article-content .prevNext > div:last-child {
      text-align: right; }

.day-mode .article-content .article-header {
  border-bottom: 1px solid #eaeaea; }
  .day-mode .article-content .article-header .article-meta span, .day-mode .article-content .article-header .article-meta a {
    color: #999999; }
  .day-mode .article-content .article-header a {
    color: #555555; }

.day-mode .article-content .article-tags {
  border-bottom: 1px solid #eaeaea; }
  .day-mode .article-content .article-tags a {
    color: #eaeaea; }

.day-mode .article-content .prevNext:before {
  background-color: #eeeeee; }

.day-mode .article-content .prevNext > div a {
  color: #555555; }

.day-mode .article-content .prevNext > div:hover a {
  color: #000000; }

.night-mode .article-content .article-header {
  border-bottom: 1px solid #656565; }
  .night-mode .article-content .article-header .article-meta span, .night-mode .article-content .article-header .article-meta a {
    color: #a8a8a8; }
  .night-mode .article-content .article-header a {
    color: #999999; }

.night-mode .article-content .article-tags {
  border-bottom: 1px solid #656565; }
  .night-mode .article-content .article-tags a {
    color: #eaeaea; }

.night-mode .article-content .prevNext:before {
  background-color: #555; }

.night-mode .article-content .prevNext > div a {
  color: #999999; }

.night-mode .article-content .prevNext > div:hover {
  color: #ffffff; }
  .night-mode .article-content .prevNext > div:hover a {
    color: #ffffff; }

@media (max-width: 768px) {
  .article-content .prevNext::before {
    display: none; }
  .article-content .prevNext > div {
    width: 100%; }
    .article-content .prevNext > div:last-child {
      text-align: left; }
    .article-content .prevNext > div .br {
      display: none; } }

.sidebar .widget {
  margin-bottom: 15px; }
  .sidebar .widget:last-child {
    margin-bottom: 0; }
  .sidebar .widget h4 {
    padding: 10px 15px;
    margin: 0; }
  .sidebar .widget ul {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; }
    .sidebar .widget ul li {
      margin-bottom: 5px;
      list-style-type: disc; }
      .sidebar .widget ul li:last-child {
        margin-bottom: 0; }

.day-mode .sidebar .widget {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #eaeaea; }
  .day-mode .sidebar .widget h4 {
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb; }
  .day-mode .sidebar .widget ul li {
    color: #555555; }
    .day-mode .sidebar .widget ul li a {
      color: #555555; }
    .day-mode .sidebar .widget ul li:hover a {
      color: #000000; }

.night-mode .sidebar .widget {
  background-color: #3f3f3f;
  border: 1px solid #656565; }
  .night-mode .sidebar .widget h4 {
    color: #cccccc;
    background-color: #454545; }
  .night-mode .sidebar .widget ul li {
    color: #999999; }
    .night-mode .sidebar .widget ul li a {
      color: #999999; }
    .night-mode .sidebar .widget ul li:hover {
      color: #ffffff; }
      .night-mode .sidebar .widget ul li:hover a {
        color: #ffffff; }

.container {
  width: 1000px; }

.commentbox {
  width: 100%;
  margin: 20px auto; }
  .commentbox .mytextarea {
    padding: 10px; }
    .commentbox .mytextarea:focus {
      outline: none; }

.mytextarea {
  width: 100%;
  overflow: auto;
  word-break: break-all;
  height: 100px;
  color: #000;
  font-size: 1em;
  resize: none; }

.comment-list {
  width: 100%;
  margin: 20px auto;
  clear: both;
  padding: 20px 20px 0; }
  .comment-list .comment-info {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; }
    .comment-list .comment-info header {
      width: 10%;
      position: absolute; }
      .comment-list .comment-info header img {
        width: 100%;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        padding: 5px; }
    .comment-list .comment-info .comment-right {
      padding: 5px 0px 5px 11%; }
      .comment-list .comment-info .comment-right h3 {
        margin: 5px 0px; }
      .comment-list .comment-info .comment-right .comment-content-header {
        height: 25px; }
      .comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span {
        padding-right: 2em;
        color: #aaa; }
      .comment-list .comment-info .comment-right .reply-list {
        border-left: 3px solid #ccc;
        padding-left: 7px; }
        .comment-list .comment-info .comment-right .reply-list .reply {
          border-bottom: 1px dashed #ccc; }
          .comment-list .comment-info .comment-right .reply-list .reply div span {
            padding-left: 10px; }
          .comment-list .comment-info .comment-right .reply-list .reply p span {
            padding-right: 2em;
            color: #aaa; }

.comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span.reply-btn, .send, .reply-list-btn {
  cursor: pointer; }

@media (min-width: 1199px) {
  .main-box {
    padding-left: 45px; } }

@media (max-width: 768px) {
  nav.navbar.bootsnav {
    left: 0 !important; }
  .article-h1 {
    display: none !important; } }

nav.navbar.bootsnav {
  overflow: hidden;
  left: 45px; }
  nav.navbar.bootsnav .nav.navbar-nav {
    max-width: 1200px;
    margin: 0 auto;
    float: none !important; }

@media (min-width: 768px) {
  .main-box ul.footer-container {
    padding-left: 25% !important; }
  .article-h1 {
    display: block; } }

/*
@media (min-width: 992px) {
  .main-box ul.footer-container {
    padding-left: 25% !important;
  }
}
*/
.article-wrap {
  max-width: 1200px;
  margin: 0 auto; }
  .article-wrap .article-content {
    margin-right: 380px; }
    .article-wrap .article-content .editor {
      padding: 0 20px;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
  .article-wrap .sidebar {
    position: fixed;
    width: 360px;
    margin-left: 20px; }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .article-wrap .article-content {
    margin: 0 15px; }
  .article-wrap .sidebar {
    display: none; } }

@media (max-width: 480px) {
  .article-wrap .article-content {
    margin: 0 10px; }
  .article-wrap .sidebar {
    display: none; } }

.day-mode .article-content {
  background-color: #ffffff; }
  .day-mode .article-content .editor {
    border: 1px solid #eaeaea; }

.day-mode .editormd-preview-container, .day-mode .editormd-html-preview, .day-mode .mytextarea {
  background-color: #ffffff; }

.night-mode .article-content, .night-mode .mytextarea {
  background-color: #3f3f3f; }
  .night-mode .article-content .editor, .night-mode .mytextarea .editor {
    border: 1px solid #656565; }

.night-mode .editormd-preview-container, .night-mode .editormd-html-preview, .night-mode .mytextarea {
  background-color: #3f3f3f;
  color: #b1b1b1; }

.article-h1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .article-h1 .articleTitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    padding-left: 20px;
    max-width: 1200px;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word; }

.artile-ul {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.artile-ul.article-current {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.article-h1.article-current {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.send.btn.btn-info:focus {
  outline: none; }
