@charset "UTF-8";
/**
该文件是文章详情文章内容部分的css
*/
.tags-list .tag {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 8px;
  font-size: 12px; }
  .tags-list .tag.tag_1 {
    background-color: #727577; }
  .tags-list .tag.tag_2 {
    background-color: #a77676; }
  .tags-list .tag.tag_3 {
    background-color: #5d5252; }
  .tags-list .tag.tag_4 {
    background-color: #5a5a7d; }
  .tags-list .tag.tag_5 {
    background-color: #bf8835; }
  .tags-list .tag.tag_6 {
    background-color: #929266; }
  .tags-list .tag:nth-of-type(2) {
    background-color: #a77676; }
  .tags-list .tag a {
    color: #f1f1f1;
    text-decoration: none; }
    .tags-list .tag a:hover, .tags-list .tag a:focus {
      outline: none; }

.article-tags {
  text-align: center;
  padding: 0 23px 17px 23px; }
  .article-tags a {
    padding: 3px 8px;
    margin: 2px;
    border-radius: 8px;
    font-size: 12px; }
    .article-tags a:last-child {
      margin: 0; }
    .article-tags a:hover {
      opacity: 1; }
    .article-tags a.tag_1 {
      background-color: #727577; }
    .article-tags a.tag_2 {
      background-color: #a77676; }
    .article-tags a.tag_3 {
      background-color: #5d5252; }
    .article-tags a.tag_4 {
      background-color: #5a5a7d; }
    .article-tags a.tag_5 {
      background-color: #bf8835; }
    .article-tags a.tag_6 {
      background-color: #929266; }

.article-content .article-header {
  padding: 25px 0;
  margin-bottom: 20px; }
  .article-content .article-header .article-title {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px; }
  .article-content .article-header .article-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px; }
    .article-content .article-header .article-meta span {
      margin-right: 20px; }
      .article-content .article-header .article-meta span:last-child {
        margin-right: 0; }

.article-content .article-body {
  margin-top: 30px; }

.article-content .article-share {
  margin-top: 30px; }
  .article-content .article-share a {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e78170;
    color: #e78170; }
    .article-content .article-share a:hover {
      text-decoration: none;
      color: #e78170;
      background: #f6cec7;
      border-color: #f6cec7; }
    .article-content .article-share a:focus {
      text-decoration: none; }
    .article-content .article-share a span {
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
      font-size: 18px; }
      .article-content .article-share a span:first-child {
        flex: 1; }
      .article-content .article-share a span:last-child {
        min-width: 30%;
        border-left: 1px solid; }

.article-content .prevNext {
  position: relative;
  margin: 30px 0; }
  .article-content .prevNext:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    display: block;
    width: 1px; }
  .article-content .prevNext > div {
    float: left;
    width: 50%; }
    .article-content .prevNext > div.prev, .article-content .prevNext > div.next {
      margin-bottom: 15px; }
    .article-content .prevNext > div .prevArticle, .article-content .prevNext > div .nextArticle {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden; }
    .article-content .prevNext > div:last-child {
      text-align: right; }

.day-mode .article-content .article-header {
  border-bottom: 1px solid #eaeaea; }
  .day-mode .article-content .article-header .article-meta span, .day-mode .article-content .article-header .article-meta a {
    color: #999999; }
  .day-mode .article-content .article-header a {
    color: #555555; }

.day-mode .article-content .article-tags {
  border-bottom: 1px solid #eaeaea; }
  .day-mode .article-content .article-tags a {
    color: #eaeaea; }

.day-mode .article-content .prevNext:before {
  background-color: #eeeeee; }

.day-mode .article-content .prevNext > div a {
  color: #555555; }

.day-mode .article-content .prevNext > div:hover a {
  color: #000000; }

.night-mode .article-content .article-header {
  border-bottom: 1px solid #656565; }
  .night-mode .article-content .article-header .article-meta span, .night-mode .article-content .article-header .article-meta a {
    color: #a8a8a8; }
  .night-mode .article-content .article-header a {
    color: #999999; }

.night-mode .article-content .article-tags {
  border-bottom: 1px solid #656565; }
  .night-mode .article-content .article-tags a {
    color: #eaeaea; }

.night-mode .article-content .prevNext:before {
  background-color: #555; }

.night-mode .article-content .prevNext > div a {
  color: #999999; }

.night-mode .article-content .prevNext > div:hover {
  color: #ffffff; }
  .night-mode .article-content .prevNext > div:hover a {
    color: #ffffff; }

@media (max-width: 768px) {
  .article-content .prevNext::before {
    display: none; }
  .article-content .prevNext > div {
    width: 100%; }
    .article-content .prevNext > div:last-child {
      text-align: left; }
    .article-content .prevNext > div .br {
      display: none; } }

.sidebar .widget {
  margin-bottom: 15px; }
  .sidebar .widget:last-child {
    margin-bottom: 0; }
  .sidebar .widget h4 {
    padding: 10px 15px;
    margin: 0; }
  .sidebar .widget ul {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; }
    .sidebar .widget ul li {
      margin-bottom: 5px;
      list-style-type: disc; }
      .sidebar .widget ul li:last-child {
        margin-bottom: 0; }

.day-mode .sidebar .widget {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #eaeaea; }
  .day-mode .sidebar .widget h4 {
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb; }
  .day-mode .sidebar .widget ul li {
    color: #555555; }
    .day-mode .sidebar .widget ul li a {
      color: #555555; }
    .day-mode .sidebar .widget ul li:hover a {
      color: #000000; }

.night-mode .sidebar .widget {
  background-color: #3f3f3f;
  border: 1px solid #656565; }
  .night-mode .sidebar .widget h4 {
    color: #cccccc;
    background-color: #454545; }
  .night-mode .sidebar .widget ul li {
    color: #999999; }
    .night-mode .sidebar .widget ul li a {
      color: #999999; }
    .night-mode .sidebar .widget ul li:hover {
      color: #ffffff; }
      .night-mode .sidebar .widget ul li:hover a {
        color: #ffffff; }

/*表情包*/
.embox {
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  font-size: 0;
  line-height: 0; }

#openFace {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 5px;
  color: #409eff;
  cursor: pointer; }

.embox:hover {
  background: #d8d8d8;
  cursor: pointer; }

.em {
  display: block;
  width: 23px;
  height: 23px;
  background: url(/static/images/emoji.png) no-repeat;
  cursor: pointer; }

.em1-bqfh0 {
  background-position: 0 0; }

.em1-bqfh1 {
  background-position: -23px 0; }

.em1-bqfh2 {
  background-position: -46px 0; }

.em1-bqfh3 {
  background-position: -69px 0; }

.em1-bqfh4 {
  background-position: -92px 0; }

.em1-bqfh5 {
  background-position: -115px 0; }

.em1-bqfh6 {
  background-position: -138px 0; }

.em1-bqfh7 {
  background-position: -161px 0; }

.em1-bqfh8 {
  background-position: -184px 0; }

.em1-bqfh9 {
  background-position: -207px 0; }

.em1-bqfh10 {
  background-position: -230px 0; }

.em1-bqfh11 {
  background-position: -253px 0; }

.em1-bqfh12 {
  background-position: -276px 0; }

.em1-bqfh13 {
  background-position: -299px 0; }

.em1-bqfh14 {
  background-position: -322px 0; }

.em1-bqfh15 {
  background-position: -345px 0; }

.em1-bqfh16 {
  background-position: -368px 0; }

.em1-bqfh17 {
  background-position: -391px 0; }

.em1-bqfh18 {
  background-position: -414px 0; }

.em1-bqfh19 {
  background-position: -437px 0; }

.em1-bqfh20 {
  background-position: -460px 0; }

.em1-bqfh21 {
  background-position: -483px 0; }

.em1-bqfh22 {
  background-position: -506px 0; }

.em1-bqfh23 {
  background-position: -529px 0; }

.em1-bqfh24 {
  background-position: -552px 0; }

.em1-bqfh25 {
  background-position: -575px 0; }

.em1-bqfh26 {
  background-position: -598px 0; }

.em1-bqfh27 {
  background-position: -621px 0; }

.em1-bqfh28 {
  background-position: -644px 0; }

.em1-bqfh29 {
  background-position: -667px 0; }

.em1-bqfh30 {
  background-position: -690px 0; }

.em1-bqfh31 {
  background-position: -713px 0; }

.em1-bqfh32 {
  background-position: -736px 0; }

.em1-bqfh33 {
  background-position: -759px 0; }

.em1-bqfh34 {
  background-position: -782px 0; }

.em1-bqfh35 {
  background-position: -805px 0; }

.em1-bqfh36 {
  background-position: -828px 0; }

.em1-bqfh37 {
  background-position: -851px 0; }

.em1-bqfh38 {
  background-position: -874px 0; }

.em1-bqfh39 {
  background-position: -897px 0; }

.em1-bqfh40 {
  background-position: -920px 0; }

.em1-bqfh41 {
  background-position: -943px 0; }

.em1-bqfh42 {
  background-position: -966px 0; }

.em1-bqfh43 {
  background-position: -989px 0; }

.em1-bqfh44 {
  background-position: -1012px 0; }

.em1-bqfh45 {
  background-position: -1035px 0; }

.em1-bqfh46 {
  background-position: -1058px 0; }

.em1-bqfh47 {
  background-position: -1081px 0; }

.em1-bqfh48 {
  background-position: -1104px 0; }

.em1-bqfh49 {
  background-position: -1127px 0; }

.em1-bqfh50 {
  background-position: -1150px 0; }

.em1-bqfh51 {
  background-position: -1173px 0; }

.em1-bqfh52 {
  background-position: -1196px 0; }

.em1-bqfh53 {
  background-position: -1219px 0; }

.em1-bqfh54 {
  background-position: -1242px 0; }

.em1-bqfh55 {
  background-position: -1265px 0; }

.em1-bqfh56 {
  background-position: -1288px 0; }

.em1-bqfh57 {
  background-position: -1311px 0; }

.em1-bqfh73 {
  background-position: -1334px 0; }

.em1-bqfh74 {
  background-position: -1357px 0; }

.em1-bqfh75 {
  background-position: -1380px 0; }

.em1-bqfh76 {
  background-position: -1403px 0; }

.em1-bqfh77 {
  background-position: -1426px 0; }

.em1-bqfh78 {
  background-position: -1449px 0; }

.em1-bqfh79 {
  background-position: -1472px 0; }

.em1-bqfh80 {
  background-position: -1495px 0; }

.em1-bqfh81 {
  background-position: -1518px 0; }

.em1-bqfh82 {
  background-position: -1541px 0; }

.em1-bqfh83 {
  background-position: -1564px 0; }

.em2-bqfh0 {
  background-position: 0 -23px; }

.em2-bqfh1 {
  background-position: -23px -23px; }

.em2-bqfh2 {
  background-position: -46px -23px; }

.em2-bqfh3 {
  background-position: -69px -23px; }

.em2-bqfh4 {
  background-position: -92px -23px; }

.em2-bqfh5 {
  background-position: -115px -23px; }

.em2-bqfh6 {
  background-position: -138px -23px; }

.em2-bqfh7 {
  background-position: -161px -23px; }

.em2-bqfh8 {
  background-position: -184px -23px; }

.em2-bqfh9 {
  background-position: -207px -23px; }

.em2-bqfh10 {
  background-position: -230px -23px; }

.em2-bqfh11 {
  background-position: -253px -23px; }

.em2-bqfh12 {
  background-position: -276px -23px; }

.em2-bqfh13 {
  background-position: -299px -23px; }

.em2-bqfh14 {
  background-position: -322px -23px; }

.em2-bqfh15 {
  background-position: -345px -23px; }

.em2-bqfh16 {
  background-position: -368px -23px; }

.em2-bqfh17 {
  background-position: -391px -23px; }

.em2-bqfh18 {
  background-position: -414px -23px; }

.em2-bqfh19 {
  background-position: -437px -23px; }

.em2-bqfh20 {
  background-position: -460px -23px; }

.em2-bqfh21 {
  background-position: -483px -23px; }

.em2-bqfh22 {
  background-position: -506px -23px; }

.em2-bqfh22 {
  background-position: -506px -23px; }

.em2-bqfh23 {
  background-position: -529px -23px; }

.em2-bqfh24 {
  background-position: -552px -23px; }

.em2-bqfh25 {
  background-position: -575px -23px; }

.em2-bqfh26 {
  background-position: -598px -23px; }

.em2-bqfh27 {
  background-position: -621px -23px; }

.em2-bqfh28 {
  background-position: -644px -23px; }

.em2-bqfh29 {
  background-position: -667px -23px; }

.em2-bqfh30 {
  background-position: -690px -23px; }

.em2-bqfh31 {
  background-position: -713px -23px; }

.em2-bqfh32 {
  background-position: -736px -23px; }

.em2-bqfh33 {
  background-position: -759px -23px; }

.em2-bqfh34 {
  background-position: -782px -23px; }

.em2-bqfh35 {
  background-position: -805px -23px; }

.em2-bqfh36 {
  background-position: -828px -23px; }

.em2-bqfh37 {
  background-position: -851px -23px; }

.em2-bqfh38 {
  background-position: -874px -23px; }

.em2-bqfh39 {
  background-position: -897px -23px; }

.em2-bqfh40 {
  background-position: -920px -23px; }

.em2-bqfh41 {
  background-position: -943px -23px; }

.em2-bqfh42 {
  background-position: -966px -23px; }

.em2-bqfh43 {
  background-position: -989px -23px; }

.em2-bqfh44 {
  background-position: -1012px -23px; }

.em2-bqfh45 {
  background-position: -1035px -23px; }

.em2-bqfh46 {
  background-position: -1058px -23px; }

.em2-bqfh47 {
  background-position: -1081px -23px; }

.em2-bqfh48 {
  background-position: -1104px -23px; }

.em2-bqfh49 {
  background-position: -1127px -23px; }

.em2-bqfh50 {
  background-position: -1150px -23px; }

.em2-bqfh51 {
  background-position: -1173px -23px; }

.em2-bqfh52 {
  background-position: -1196px -23px; }

.em2-bqfh53 {
  background-position: -1219px -23px; }

.em2-bqfh54 {
  background-position: -1242px -23px; }

.em2-bqfh55 {
  background-position: -1265px -23px; }

.em2-bqfh56 {
  background-position: -1288px -23px; }

.em2-bqfh57 {
  background-position: -1311px -23px; }

.em2-bqfh58 {
  background-position: -1334px -23px; }

.em2-bqfh59 {
  background-position: -1357px -23px; }

.em2-bqfh60 {
  background-position: -1380px -23px; }

.em2-bqfh61 {
  background-position: -1403px -23px; }

.em2-bqfh62 {
  background-position: -1426px -23px; }

.em2-bqfh84 {
  background-position: -1449px -23px; }

.em2-bqfh85 {
  background-position: -1472px -23px; }

.em2-bqfh86 {
  background-position: -1495px -23px; }

.em2-bqfh87 {
  background-position: -1518px -23px; }

.em2-bqfh88 {
  background-position: -1541px -23px; }

.em2-bqfh73 {
  background-position: -1564px -23px; }

.em2-bqfh74 {
  background-position: -1587px -23px; }

.em2-bqfh75 {
  background-position: -1610px -23px; }

.em2-bqfh76 {
  background-position: -1633px -23px; }

.em2-bqfh77 {
  background-position: -1656px -23px; }

.em2-bqfh78 {
  background-position: -1679px -23px; }

.em2-bqfh79 {
  background-position: -1702px -23px; }

.em2-bqfh80 {
  background-position: -1725px -23px; }

.em2-bqfh81 {
  background-position: -1748px -23px; }

.em3-bqfh169 {
  background-position: 0 -46px; }

.em3-bqfh170 {
  background-position: -23px -46px; }

.em3-bqfh171 {
  background-position: -46px -46px; }

.em3-bqfh172 {
  background-position: -69px -46px; }

.em3-bqfh173 {
  background-position: -92px -46px; }

.em3-bqfh174 {
  background-position: -115px -46px; }

.em3-bqfh175 {
  background-position: -138px -46px; }

.em3-bqfh176 {
  background-position: -161px -46px; }

.em3-bqfh177 {
  background-position: -184px -46px; }

.em3-bqfh178 {
  background-position: -207px -46px; }

.em3-bqfh179 {
  background-position: -230px -46px; }

.em3-bqfh180 {
  background-position: -253px -46px; }

.em3-bqfh181 {
  background-position: -276px -46px; }

.em3-bqfh182 {
  background-position: -299px -46px; }

.em3-bqfh183 {
  background-position: -322px -46px; }

.em3-bqfh184 {
  background-position: -345px -46px; }

.em3-bqfh185 {
  background-position: -368px -46px; }

.em3-bqfh186 {
  background-position: -391px -46px; }

.em3-bqfh187 {
  background-position: -414px -46px; }

.em3-bqfh188 {
  background-position: -437px -46px; }

.em3-bqfh189 {
  background-position: -460px -46px; }

.em3-bqfh190 {
  background-position: -483px -46px; }

.em3-bqfh191 {
  background-position: -506px -46px; }

.em3-bqfh192 {
  background-position: -529px -46px; }

.em3-bqfh193 {
  background-position: -552px -46px; }

.em3-bqfh194 {
  background-position: -575px -46px; }

.em3-bqfh195 {
  background-position: -598px -46px; }

.em3-bqfh196 {
  background-position: -621px -46px; }

.em3-bqfh197 {
  background-position: -644px -46px; }

.em3-bqfh198 {
  background-position: -667px -46px; }

.em3-bqfh199 {
  background-position: -690px -46px; }

.em3-bqfh200 {
  background-position: -713px -46px; }

.em3-bqfh201 {
  background-position: -736px -46px; }

.em3-bqfh202 {
  background-position: -759px -46px; }

.em3-bqfh203 {
  background-position: -782px -46px; }

.em3-bqfh204 {
  background-position: -805px -46px; }

.em3-bqfh205 {
  background-position: -828px -46px; }

.em3-bqfh206 {
  background-position: -851px -46px; }

.em3-bqfh207 {
  background-position: -874px -46px; }

.em3-bqfh208 {
  background-position: -897px -46px; }

.em3-bqfh209 {
  background-position: -920px -46px; }

.em3-bqfh210 {
  background-position: -943px -46px; }

.em3-bqfh211 {
  background-position: -966px -46px; }

.em3-bqfh212 {
  background-position: -989px -46px; }

.em3-bqfh213 {
  background-position: -1012px -46px; }

.em3-bqfh214 {
  background-position: -1035px -46px; }

.em3-bqfh215 {
  background-position: -1058px -46px; }

.em3-bqfh216 {
  background-position: -1081px -46px; }

.em3-bqfh217 {
  background-position: -1104px -46px; }

.em3-bqfh218 {
  background-position: -1127px -46px; }

.em3-bqfh219 {
  background-position: -1150px -46px; }

.em3-bqfh220 {
  background-position: -1173px -46px; }

.em3-bqfh221 {
  background-position: -1196px -46px; }

.em3-bqfh222 {
  background-position: -1219px -46px; }

.em3-bqfh223 {
  background-position: -1242px -46px; }

.em3-bqfh224 {
  background-position: -1265px -46px; }

.em3-bqfh225 {
  background-position: -1288px -46px; }

.em3-bqfh226 {
  background-position: -1311px -46px; }

.em3-bqfh227 {
  background-position: -1334px -46px; }

.em4-bqfh63 {
  background-position: 0 -69px; }

.em4-bqfh64 {
  background-position: -23px -69px; }

.em4-bqfh65 {
  background-position: -46px -69px; }

.em4-bqfh66 {
  background-position: -69px -69px; }

.em4-bqfh67 {
  background-position: -92px -69px; }

.em4-bqfh68 {
  background-position: -115px -69px; }

.em4-bqfh69 {
  background-position: -138px -69px; }

.em4-bqfh70 {
  background-position: -161px -69px; }

.em4-bqfh71 {
  background-position: -184px -69px; }

.em4-bqfh72 {
  background-position: -207px -69px; }

.em4-bqfh73 {
  background-position: -230px -69px; }

.em4-bqfh74 {
  background-position: -253px -69px; }

.em4-bqfh75 {
  background-position: -276px -69px; }

.em4-bqfh76 {
  background-position: -299px -69px; }

.em4-bqfh77 {
  background-position: -322px -69px; }

.em4-bqfh78 {
  background-position: -345px -69px; }

.em4-bqfh79 {
  background-position: -368px -69px; }

.em4-bqfh80 {
  background-position: -391px -69px; }

.em4-bqfh81 {
  background-position: -414px -69px; }

.em4-bqfh82 {
  background-position: -437px -69px; }

.em4-bqfh83 {
  background-position: -460px -69px; }

.em4-bqfh84 {
  background-position: -483px -69px; }

.em4-bqfh85 {
  background-position: -506px -69px; }

.em4-bqfh86 {
  background-position: -529px -69px; }

.em4-bqfh87 {
  background-position: -552px -69px; }

.em4-bqfh88 {
  background-position: -575px -69px; }

.em4-bqfh89 {
  background-position: -598px -69px; }

.em4-bqfh90_002 {
  background-position: -621px -69px; }

.em4-bqfh91_002 {
  background-position: -644px -69px; }

.em4-bqfh92_002 {
  background-position: -667px -69px; }

.em4-bqfh93_002 {
  background-position: -690px -69px; }

.em4-bqfh94_002 {
  background-position: -713px -69px; }

.em4-bqfh95_002 {
  background-position: -736px -69px; }

.em4-bqfh96_002 {
  background-position: -759px -69px; }

.em4-bqfh97 {
  background-position: -782px -69px; }

.em4-bqfh98_002 {
  background-position: -805px -69px; }

.em4-bqfh99_002 {
  background-position: -828px -69px; }

.em4-bqfh100 {
  background-position: -851px -69px; }

.em4-bqfh101 {
  background-position: -874px -69px; }

.em4-bqfh102 {
  background-position: -897px -69px; }

.em4-bqfh103 {
  background-position: -920px -69px; }

.em4-bqfh104 {
  background-position: -943px -69px; }

.em4-bqfh105 {
  background-position: -966px -69px; }

.em4-bqfh106 {
  background-position: -989px -69px; }

.em4-bqfh107 {
  background-position: -1012px -69px; }

.em4-bqfh108 {
  background-position: -1035px -69px; }

.em4-bqfh109 {
  background-position: -1058px -69px; }

.em4-bqfh110 {
  background-position: -1081px -69px; }

.em4-bqfh111 {
  background-position: -1104px -69px; }

.em4-bqfh112 {
  background-position: -1127px -69px; }

.em4-bqfh113 {
  background-position: -1150px -69px; }

.em4-bqfh114 {
  background-position: -1173px -69px; }

.em4-bqfh115 {
  background-position: -1196px -69px; }

.em4-bqfh90 {
  background-position: -1219px -69px; }

.em4-bqfh91 {
  background-position: -1242px -69px; }

.em4-bqfh92 {
  background-position: -1265px -69px; }

.em4-bqfh93 {
  background-position: -1288px -69px; }

.em4-bqfh94 {
  background-position: -1311px -69px; }

.em4-bqfh95 {
  background-position: -1334px -69px; }

.em4-bqfh96 {
  background-position: -1357px -69px; }

.em4-bqfh97_002 {
  background-position: -1380px -69px; }

.em4-bqfh98 {
  background-position: -1403px -69px; }

.em4-bqfh99 {
  background-position: -1426px -69px; }

.em5-bqfh52 {
  background-position: 0 -92px; }

.em5-bqfh53 {
  background-position: -23px -92px; }

.em5-bqfh44 {
  background-position: -46px -92px; }

.em5-bqfh45 {
  background-position: -69px -92px; }

.em5-bqfh46 {
  background-position: -92px -92px; }

.em5-bqfh26 {
  background-position: -115px -92px; }

.em5-bqfh47 {
  background-position: -138px -92px; }

.em5-bqfh48 {
  background-position: -161px -92px; }

.em5-bqfh15 {
  background-position: -184px -92px; }

.em5-bqfh49 {
  background-position: -207px -92px; }

.em5-bqfh50 {
  background-position: -230px -92px; }

.em5-bqfh51 {
  background-position: -253px -92px; }

.em5-bqfh110 {
  background-position: -276px -92px; }

.em5-bqfh111 {
  background-position: -299px -92px; }

.em5-bqfh112 {
  background-position: -322px -92px; }

.em5-bqfh113 {
  background-position: -345px -92px; }

.em5-bqfh114 {
  background-position: -368px -92px; }

.em5-bqfh115 {
  background-position: -391px -92px; }

.em5-bqfh116 {
  background-position: -414px -92px; }

.em5-bqfh117 {
  background-position: -437px -92px; }

.em5-bqfh118 {
  background-position: -460px -92px; }

.em5-bqfh119 {
  background-position: -483px -92px; }

.em5-bqfh120 {
  background-position: -506px -92px; }

.em5-bqfh121 {
  background-position: -529px -92px; }

.em6-bqfh131 {
  background-position: 0 -115px; }

.em6-bqfh132 {
  background-position: -23px -115px; }

.em6-bqfh133 {
  background-position: -46px -115px; }

.em6-bqfh134 {
  background-position: -69px -115px; }

.em6-bqfh135 {
  background-position: -92px -115px; }

.em6-bqfh136 {
  background-position: -115px -115px; }

.em6-bqfh137 {
  background-position: -138px -115px; }

.em6-bqfh138 {
  background-position: -161px -115px; }

.em6-bqfh139 {
  background-position: -184px -115px; }

.em6-bqfh140 {
  background-position: -207px -115px; }

.em6-bqfh141 {
  background-position: -230px -115px; }

.em6-bqfh142 {
  background-position: -253px -115px; }

.em6-bqfh143 {
  background-position: -276px -115px; }

.em6-bqfh144 {
  background-position: -299px -115px; }

.em6-bqfh145 {
  background-position: -322px -115px; }

.em6-bqfh146 {
  background-position: -345px -115px; }

.em6-bqfh147 {
  background-position: -368px -115px; }

.em6-bqfh148 {
  background-position: -391px -115px; }

.em6-bqfh149 {
  background-position: -414px -115px; }

.em6-bqfh150 {
  background-position: -437px -115px; }

.em6-bqfh151 {
  background-position: -460px -115px; }

.em6-bqfh152 {
  background-position: -483px -115px; }

.em6-bqfh153 {
  background-position: -506px -115px; }

.em6-bqfh154 {
  background-position: -529px -115px; }

.em6-bqfh155 {
  background-position: -552px -115px; }

.em6-bqfh156 {
  background-position: -575px -115px; }

.em6-bqfh157 {
  background-position: -598px -115px; }

.em6-bqfh158 {
  background-position: -621px -115px; }

.em6-bqfh159 {
  background-position: -644px -115px; }

.em6-bqfh160 {
  background-position: -667px -115px; }

.em6-bqfh161 {
  background-position: -690px -115px; }

.em6-bqfh162 {
  background-position: -713px -115px; }

.em6-bqfh163 {
  background-position: -736px -115px; }

.em6-bqfh164 {
  background-position: -759px -115px; }

.em6-bqfh165 {
  background-position: -782px -115px; }

.em6-bqfh166 {
  background-position: -805px -115px; }

.em6-bqfh167 {
  background-position: -828px -115px; }

.em6-bqfh168 {
  background-position: -851px -115px; }

.em7-bqfh100 {
  background-position: 0 -138px; }

.em7-bqfh101 {
  background-position: -23px -138px; }

.em7-bqfh102 {
  background-position: -46px -138px; }

.em7-bqfh103 {
  background-position: -69px -138px; }

.em7-bqfh104 {
  background-position: -92px -138px; }

.em7-bqfh105 {
  background-position: -115px -138px; }

.em7-bqfh106 {
  background-position: -138px -138px; }

.em7-bqfh107 {
  background-position: -161px -138px; }

.em7-bqfh108 {
  background-position: -184px -138px; }

.em7-bqfh109 {
  background-position: -207px -138px; }

.em7-bqfh110 {
  background-position: -230px -138px; }

.em7-bqfh111 {
  background-position: -253px -138px; }

.em7-bqfh112 {
  background-position: -276px -138px; }

.em7-bqfh113 {
  background-position: -299px -138px; }

.em7-bqfh114 {
  background-position: -322px -138px; }

.em7-bqfh115 {
  background-position: -345px -138px; }

.em7-bqfh116 {
  background-position: -368px -138px; }

.em7-bqfh117 {
  background-position: -391px -138px; }

.em7-bqfh118 {
  background-position: -414px -138px; }

.em7-bqfh119 {
  background-position: -437px -138px; }

.em7-bqfh120 {
  background-position: -460px -138px; }

.em7-bqfh121 {
  background-position: -483px -138px; }

.em7-bqfh122 {
  background-position: -506px -138px; }

.em7-bqfh123 {
  background-position: -529px -138px; }

.em7-bqfh124 {
  background-position: -552px -138px; }

.em7-bqfh125 {
  background-position: -575px -138px; }

.em7-bqfh126 {
  background-position: -598px -138px; }

.em7-bqfh127 {
  background-position: -621px -138px; }

.em7-bqfh128 {
  background-position: -644px -138px; }

.em7-bqfh129 {
  background-position: -667px -138px; }

.em7-bqfh130 {
  background-position: -690px -138px; }

.em7-bqfh131 {
  background-position: -713px -138px; }

.em7-bqfh132 {
  background-position: -736px -138px; }

.em7-bqfh133 {
  background-position: -759px -138px; }

.em7-bqfh134 {
  background-position: -782px -138px; }

.em7-bqfh135 {
  background-position: -805px -138px; }

.em7-bqfh136 {
  background-position: -828px -138px; }

.em7-bqfh137 {
  background-position: -851px -138px; }

.em7-bqfh138 {
  background-position: -874px -138px; }

.em7-bqfh139 {
  background-position: -897px -138px; }

.em7-bqfh140 {
  background-position: -920px -138px; }

.em7-bqfh141 {
  background-position: -943px -138px; }

.em7-bqfh142 {
  background-position: -966px -138px; }

.em7-bqfh143 {
  background-position: -989px -138px; }

.em7-bqfh144 {
  background-position: -1012px -138px; }

.em7-bqfh145 {
  background-position: -1035px -138px; }

.em7-bqfh146 {
  background-position: -1058px -138px; }

.em7-bqfh147 {
  background-position: -1081px -138px; }

.em7-bqfh148 {
  background-position: -1104px -138px; }

.em7-bqfh149 {
  background-position: -1127px -138px; }

.em7-bqfh150 {
  background-position: -1150px -138px; }

.em7-bqfh151 {
  background-position: -1173px -138px; }

.em7-bqfh152 {
  background-position: -1196px -138px; }

.em7-bqfh153 {
  background-position: -1219px -138px; }

.em7-bqfh154 {
  background-position: -1242px -138px; }

.em7-bqfh155 {
  background-position: -1265px -138px; }

.em7-bqfh156 {
  background-position: -1288px -138px; }

.em7-bqfh157 {
  background-position: -1311px -138px; }

.em7-bqfh158 {
  background-position: -1334px -138px; }

.em7-bqfh159 {
  background-position: -1357px -138px; }

.em7-bqfh160 {
  background-position: -1380px -138px; }

.em7-bqfh161 {
  background-position: -1403px -138px; }

.em7-bqfh162 {
  background-position: -1426px -138px; }

.em7-bqfh163 {
  background-position: -1449px -138px; }

.em7-bqfh164 {
  background-position: -1472px -138px; }

.em7-bqfh165 {
  background-position: -1495px -138px; }

.em7-bqfh166 {
  background-position: -1518px -138px; }

.em7-bqfh180 {
  background-position: -1541px -138px; }

.em7-bqfh185 {
  background-position: -1587px -138px; }

.em7-bqfh181 {
  background-position: -1564px -138px; }

.em7-jiezhi {
  background-position: -1610px -138px; }

.em8-bqfh144 {
  background-position: 0 -161px; }

.em8-bqfh90 {
  background-position: -23px -161px; }

.em8-bqfh91 {
  background-position: -46px -161px; }

.em8-bqfh92 {
  background-position: -69px -161px; }

.em8-bqfh93 {
  background-position: -92px -161px; }

.em8-bqfh94 {
  background-position: -115px -161px; }

.em8-bqfh164 {
  background-position: -138px -161px; }

.em8-bqfh165 {
  background-position: -161px -161px; }

.em8-bqfh166 {
  background-position: -184px -161px; }

.em8-bqfh167 {
  background-position: -207px -161px; }

.em8-bqfh168 {
  background-position: -230px -161px; }

.em8-bqfh169 {
  background-position: -253px -161px; }

.em8-bqfh170 {
  background-position: -276px -161px; }

.em8-bqfh171 {
  background-position: -299px -161px; }

.em8-bqfh172 {
  background-position: -322px -161px; }

.em8-bqfh173 {
  background-position: -345px -161px; }

.em8-bqfh174 {
  background-position: -368px -161px; }

.em8-bqfh175 {
  background-position: -391px -161px; }

.em8-bqfh176 {
  background-position: -414px -161px; }

.em8-bqfh177 {
  background-position: -437px -161px; }

.em8-bqfh178 {
  background-position: -460px -161px; }

.em8-bqfh179 {
  background-position: -483px -161px; }

.em8-bqfh180 {
  background-position: -506px -161px; }

.em8-bqfh0 {
  background-position: -529px -161px; }

.em8-bqfh1 {
  background-position: -552px -161px; }

.em8-bqfh2 {
  background-position: -575px -161px; }

.em8-bqfh3 {
  background-position: -598px -161px; }

.em8-bqfh4 {
  background-position: -621px -161px; }

.em8-bqfh5 {
  background-position: -644px -161px; }

.em8-bqfh6 {
  background-position: -667px -161px; }

.em8-bqfh7 {
  background-position: -690px -161px; }

.em8-bqfh8 {
  background-position: -713px -161px; }

.em8-bqfh9 {
  background-position: -736px -161px; }

.em8-bqfh10 {
  background-position: -759px -161px; }

.em8-bqfh11 {
  background-position: -782px -161px; }

.em8-bqfh12 {
  background-position: -805px -161px; }

.em8-bqfh13 {
  background-position: -828px -161px; }

.em8-bqfh14 {
  background-position: -851px -161px; }

.em8-bqfh15 {
  background-position: -874px -161px; }

.em8-bqfh16 {
  background-position: -897px -161px; }

.em8-bqfh17 {
  background-position: -920px -161px; }

.em8-bqfh18 {
  background-position: -943px -161px; }

.em8-bqfh19 {
  background-position: -966px -161px; }

.em9-bqfh51 {
  background-position: 0 -184px; }

.em9-bqfh52 {
  background-position: -23px -184px; }

.em9-bqfh53 {
  background-position: -46px -184px; }

.em9-bqfh54 {
  background-position: -69px -184px; }

.em9-bqfh55 {
  background-position: -92px -184px; }

.em9-bqfh56 {
  background-position: -115px -184px; }

.em9-bqfh57 {
  background-position: -138px -184px; }

.em9-bqfh58 {
  background-position: -161px -184px; }

.em9-bqfh59 {
  background-position: -184px -184px; }

.em9-bqfh60 {
  background-position: -207px -184px; }

.em9-bqfh65 {
  background-position: -230px -184px; }

.em9-bqfh68 {
  background-position: -253px -184px; }

.em9-bqfh71 {
  background-position: -276px -184px; }

.em9-bqfh72 {
  background-position: -299px -184px; }

.em9-bqfh73 {
  background-position: -322px -184px; }

.em9-bqfh74 {
  background-position: -345px -184px; }

.em9-bqfh79 {
  background-position: -368px -184px; }

.em9-bqfh80 {
  background-position: -391px -184px; }

.em9-bqfh81 {
  background-position: -414px -184px; }

.em9-bqfh82 {
  background-position: -437px -184px; }

.em9-bqfh83 {
  background-position: -460px -184px; }

.em9-bqfh84 {
  background-position: -483px -184px; }

.em9-bqfh86 {
  background-position: -506px -184px; }

.em9-bqfh85 {
  background-position: -529px -184px; }

.em9-bqfh100 {
  background-position: -552px -184px; }

.em9-bqfh103 {
  background-position: -575px -184px; }

.em9-bqfh104 {
  background-position: -598px -184px; }

.em9-bqfh105 {
  background-position: -621px -184px; }

.em9-bqfh106 {
  background-position: -644px -184px; }

.em9-bqfh95 {
  background-position: -667px -184px; }

.em10-bqfh20 {
  background-position: 0 -207px; }

.em10-bqfh21 {
  background-position: -23px -207px; }

.em10-bqfh22 {
  background-position: -46px -207px; }

.em10-bqfh23 {
  background-position: -69px -207px; }

.em10-bqfh24 {
  background-position: -92px -207px; }

.em10-bqfh25 {
  background-position: -115px -207px; }

.em10-bqfh26 {
  background-position: -138px -207px; }

.em10-bqfh27 {
  background-position: -161px -207px; }

.em10-bqfh28 {
  background-position: -184px -207px; }

.em10-bqfh29 {
  background-position: -207px -207px; }

.em10-bqfh30 {
  background-position: -230px -207px; }

.em10-bqfh31 {
  background-position: -253px -207px; }

.em10-bqfh32 {
  background-position: -276px -207px; }

.em10-bqfh33 {
  background-position: -299px -207px; }

.em10-bqfh34 {
  background-position: -322px -207px; }

.em10-bqfh35 {
  background-position: -345px -207px; }

.em10-bqfh36 {
  background-position: -368px -207px; }

.em10-bqfh37 {
  background-position: -391px -207px; }

.em10-bqfh38 {
  background-position: -414px -207px; }

.em10-bqfh39 {
  background-position: -437px -207px; }

.em10-bqfh40 {
  background-position: -460px -207px; }

.em10-bqfh41 {
  background-position: -483px -207px; }

.em10-bqfh42 {
  background-position: -506px -207px; }

.em10-bqfh43 {
  background-position: -529px -207px; }

.em10-bqfh44 {
  background-position: -552px -207px; }

.em10-bqfh45 {
  background-position: -575px -207px; }

.em10-bqfh46 {
  background-position: -598px -207px; }

.em10-bqfh47 {
  background-position: -621px -207px; }

.em10-bqfh48 {
  background-position: -644px -207px; }

.em10-bqfh49 {
  background-position: -667px -207px; }

.em10-bqfh50 {
  background-position: -690px -207px; }

.em10-bqfh51 {
  background-position: -713px -207px; }

.em10-bqfh52 {
  background-position: -736px -207px; }

.em10-bqfh53 {
  background-position: -759px -207px; }

.em10-bqfh54 {
  background-position: -782px -207px; }

.em10-bqfh55 {
  background-position: -805px -207px; }

.em10-bqfh56 {
  background-position: -828px -207px; }

.em10-bqfh57 {
  background-position: -851px -207px; }

.em10-bqfh58 {
  background-position: -874px -207px; }

.em10-bqfh59 {
  background-position: -897px -207px; }

.em10-bqfh60 {
  background-position: -920px -207px; }

.em10-bqfh61 {
  background-position: -943px -207px; }

.em10-bqfh62 {
  background-position: -966px -207px; }

.em10-bqfh63 {
  background-position: -989px -207px; }

.em10-bqfh64 {
  background-position: -1012px -207px; }

.em10-bqfh65 {
  background-position: -1035px -207px; }

.em10-bqfh66 {
  background-position: -1058px -207px; }

.em10-bqfh67 {
  background-position: -1081px -207px; }

.em10-bqfh68 {
  background-position: -1104px -207px; }

.em10-bqfh69 {
  background-position: -1127px -207px; }

.em10-bqfh70 {
  background-position: -1150px -207px; }

.em10-bqfh71 {
  background-position: -1173px -207px; }

.em10-bqfh72 {
  background-position: -1196px -207px; }

.em10-bqfh73 {
  background-position: -1219px -207px; }

.em10-bqfh74 {
  background-position: -1242px -207px; }

.em10-bqfh75 {
  background-position: -1265px -207px; }

.em10-bqfh76 {
  background-position: -1288px -207px; }

.em10-bqfh77 {
  background-position: -1311px -207px; }

.em10-bqfh78 {
  background-position: -1334px -207px; }

.em10-bqfh79 {
  background-position: -1357px -207px; }

.em10-bqfh80 {
  background-position: -1380px -207px; }

.em10-bqfh81 {
  background-position: -1403px -207px; }

.em10-bqfh82 {
  background-position: -1426px -207px; }

.em10-bqfh83 {
  background-position: -1449px -207px; }

.em10-bqfh84 {
  background-position: -1472px -207px; }

.em10-bqfh85 {
  background-position: -1495px -207px; }

.em10-bqfh86 {
  background-position: -1518px -207px; }

.em10-bqfh87 {
  background-position: -1541px -207px; }

.em10-bqfh88 {
  background-position: -1564px -207px; }

.em10-bqfh89 {
  background-position: -1587px -207px; }

.em10-bqfh90 {
  background-position: -1610px -207px; }

.em10-bqfh91 {
  background-position: -1633px -207px; }

.em10-bqfh92 {
  background-position: -1656px -207px; }

.em10-bqfh93 {
  background-position: -1679px -207px; }

.em10-bqfh94 {
  background-position: -1702px -207px; }

.em10-bqfh95 {
  background-position: -1725px -207px; }

.em10-bqfh96 {
  background-position: -1748px -207px; }

.em10-bqfh97 {
  background-position: -1771px -207px; }

.em10-bqfh98 {
  background-position: -1794px -207px; }

.em10-bqfh99 {
  background-position: -1817px -207px; }

.em10-bqfh100 {
  background-position: -1840px -207px; }

.em10-bqfh101 {
  background-position: -1863px -207px; }

.em10-bqfh102 {
  background-position: -1886px -207px; }

.em10-bqfh103 {
  background-position: -1909px -207px; }

.em10-bqfh104 {
  background-position: -1932px -207px; }

.em10-bqfh105 {
  background-position: -1955px -207px; }

.em10-bqfh106 {
  background-position: -1978px -207px; }

.em10-bqfh107 {
  background-position: -2001px -207px; }

.em10-bqfh108 {
  background-position: -2024px -207px; }

.em10-bqfh109 {
  background-position: -2047px -207px; }

.em10-bqfh110 {
  background-position: -2070px -207px; }

.em10-bqfh111 {
  background-position: -2093px -207px; }

.em10-bqfh112 {
  background-position: -2116px -207px; }

.em10-bqfh113 {
  background-position: -2139px -207px; }

.em10-bqfh114 {
  background-position: -2162px -207px; }

.em10-bqfh115 {
  background-position: -2185px -207px; }

.em10-bqfh116 {
  background-position: -2208px -207px; }

.em10-bqfh117 {
  background-position: -2231px -207px; }

.em10-bqfh118 {
  background-position: -2254px -207px; }

.em10-bqfh119 {
  background-position: -2277px -207px; }

.em10-bqfh120 {
  background-position: -2300px -207px; }

.em10-bqfh121 {
  background-position: -2323px -207px; }

.em10-bqfh122 {
  background-position: -2346px -207px; }

.em10-bqfh123 {
  background-position: -2369px -207px; }

.em10-bqfh124 {
  background-position: -2392px -207px; }

.em10-bqfh125 {
  background-position: -2415px -207px; }

.em10-bqfh126 {
  background-position: -2438px -207px; }

.em10-bqfh127 {
  background-position: -2461px -207px; }

.em10-bqfh128 {
  background-position: -2484px -207px; }

.em10-bqfh129 {
  background-position: -2507px -207px; }

.em11-bqfh61 {
  background-position: 0 -230px; }

.em11-bqfh62 {
  background-position: -23px -230px; }

.em11-bqfh63 {
  background-position: -46px -230px; }

.em11-bqfh64 {
  background-position: -69px -230px; }

.em11-bqfh66 {
  background-position: -92px -230px; }

.em11-bqfh67 {
  background-position: -115px -230px; }

.em11-bqfh69 {
  background-position: -138px -230px; }

.em11-bqfh70 {
  background-position: -161px -230px; }

.em11-bqfh75 {
  background-position: -184px -230px; }

.em11-bqfh76 {
  background-position: -207px -230px; }

.em11-bqfh77 {
  background-position: -230px -230px; }

.em11-bqfh78 {
  background-position: -253px -230px; }

.em11-bqfh85 {
  background-position: -276px -230px; }

.em11-bqfh86 {
  background-position: -299px -230px; }

.em11-bqfh88 {
  background-position: -322px -230px; }

.em11-bqfh89 {
  background-position: -345px -230px; }

.em11-bqfh90 {
  background-position: -368px -230px; }

.em11-bqfh91 {
  background-position: -391px -230px; }

.em11-bqfh92 {
  background-position: -414px -230px; }

.em11-bqfh93 {
  background-position: -437px -230px; }

.em11-bqfh94 {
  background-position: -460px -230px; }

.em11-bqfh95 {
  background-position: -483px -230px; }

.em11-bqfh96 {
  background-position: -506px -230px; }

.em11-bqfh97 {
  background-position: -529px -230px; }

.em11-bqfh98 {
  background-position: -552px -230px; }

.em11-bqfh99 {
  background-position: -575px -230px; }

.em11-bqfh101 {
  background-position: -598px -230px; }

.em11-bqfh102 {
  background-position: -621px -230px; }

.em11-bqfh107 {
  background-position: -644px -230px; }

.em11-bqfh108 {
  background-position: -667px -230px; }

.em11-bqfh109 {
  background-position: -690px -230px; }

.em11-bqfh122 {
  background-position: -713px -230px; }

.em11-bqfh0 {
  background-position: -736px -230px; }

.em11-bqfh1 {
  background-position: -759px -230px; }

.em11-bqfh2 {
  background-position: -782px -230px; }

.em11-bqfh3 {
  background-position: -805px -230px; }

.em11-bqfh4 {
  background-position: -828px -230px; }

.em11-bqfh5 {
  background-position: -851px -230px; }

.em11-bqfh6 {
  background-position: -874px -230px; }

.em11-bqfh7 {
  background-position: -897px -230px; }

.em11-bqfh8 {
  background-position: -920px -230px; }

.em11-bqfh9 {
  background-position: -943px -230px; }

.em11-bqfh10 {
  background-position: -966px -230px; }

.em11-bqfh11 {
  background-position: -989px -230px; }

.em11-bqfh12 {
  background-position: -1012px -230px; }

.em11-bqfh13 {
  background-position: -1035px -230px; }

.em11-bqfh14 {
  background-position: -1058px -230px; }

.em11-bqfh15 {
  background-position: -1081px -230px; }

.em11-bqfh16 {
  background-position: -1104px -230px; }

.em11-bqfh17 {
  background-position: -1127px -230px; }

.em11-bqfh18 {
  background-position: -1150px -230px; }

.em11-bqfh19 {
  background-position: -1173px -230px; }

.em11-bqfh20 {
  background-position: -1196px -230px; }

.em11-bqfh21 {
  background-position: -1219px -230px; }

.em11-bqfh22 {
  background-position: -1242px -230px; }

.em11-bqfh23 {
  background-position: -1265px -230px; }

.em11-bqfh24 {
  background-position: -1288px -230px; }

.em11-bqfh25 {
  background-position: -1311px -230px; }

.em11-bqfh26 {
  background-position: -1334px -230px; }

.em11-bqfh27 {
  background-position: -1357px -230px; }

.em11-bqfh28 {
  background-position: -1380px -230px; }

.em11-bqfh29 {
  background-position: -1403px -230px; }

.em11-bqfh30 {
  background-position: -1426px -230px; }

.em11-bqfh31 {
  background-position: -1449px -230px; }

.em11-bqfh32 {
  background-position: -1472px -230px; }

.em11-bqfh33 {
  background-position: -1495px -230px; }

.em11-bqfh34 {
  background-position: -1518px -230px; }

.em11-bqfh35 {
  background-position: -1541px -230px; }

.em11-bqfh36 {
  background-position: -1564px -230px; }

.em11-bqfh37 {
  background-position: -1587px -230px; }

.em11-bqfh38 {
  background-position: -1610px -230px; }

.em11-bqfh39 {
  background-position: -1633px -230px; }

.em11-bqfh40 {
  background-position: -1656px -230px; }

.em11-bqfh41 {
  background-position: -1679px -230px; }

.em11-bqfh42 {
  background-position: -1702px -230px; }

.em11-bqfh43 {
  background-position: -1725px -230px; }

.em11-bqfh44 {
  background-position: -1748px -230px; }

.em11-bqfh45 {
  background-position: -1771px -230px; }

.em11-bqfh46 {
  background-position: -1794px -230px; }

.em11-bqfh47 {
  background-position: -1817px -230px; }

.em11-bqfh48 {
  background-position: -1840px -230px; }

.em11-bqfh49 {
  background-position: -1863px -230px; }

.em11-bqfh50 {
  background-position: -1886px -230px; }

.em11-bqfh123 {
  background-position: -1909px -230px; }

.em11-bqfh124 {
  background-position: -1932px -230px; }

.em11-bqfh125 {
  background-position: -1955px -230px; }

.em11-bqfh126 {
  background-position: -1978px -230px; }

.em11-bqfh127 {
  background-position: -2001px -230px; }

.em11-bqfh128 {
  background-position: -2024px -230px; }

.em11-bqfh129 {
  background-position: -2047px -230px; }

.em11-bqfh130 {
  background-position: -2070px -230px; }

.em11-bqfh131 {
  background-position: -2093px -230px; }

.em11-bqfh132 {
  background-position: -2116px -230px; }

.em11-bqfh133 {
  background-position: -2139px -230px; }

.em11-bqfh134 {
  background-position: -2162px -230px; }

.em11-bqfh135 {
  background-position: -2185px -230px; }

.em11-bqfh136 {
  background-position: -2208px -230px; }

.em11-bqfh137 {
  background-position: -2231px -230px; }

.em11-bqfh138 {
  background-position: -2254px -230px; }

.em11-bqfh139 {
  background-position: -2277px -230px; }

.em11-bqfh140 {
  background-position: -2300px -230px; }

.em11-bqfh141 {
  background-position: -2323px -230px; }

.em11-bqfh142 {
  background-position: -2346px -230px; }

.em11-bqfh143 {
  background-position: -2369px -230px; }

.em11-bqfh144 {
  background-position: -2392px -230px; }

.em11-bqfh145 {
  background-position: -2415px -230px; }

.em11-bqfh146 {
  background-position: -2438px -230px; }

.em11-bqfh147 {
  background-position: -2461px -230px; }

.em11-bqfh148 {
  background-position: -2484px -230px; }

.em11-bqfh149 {
  background-position: -2507px -230px; }

.em11-bqfh150 {
  background-position: -2530px -230px; }

.em11-bqfh151 {
  background-position: -2553px -230px; }

.em11-bqfh152 {
  background-position: -2576px -230px; }

.em11-bqfh153 {
  background-position: -2599px -230px; }

.em11-bqfh154 {
  background-position: -2622px -230px; }

.em11-bqfh155 {
  background-position: -2645px -230px; }

.em11-bqfh156 {
  background-position: -2668px -230px; }

.em11-bqfh157 {
  background-position: -2691px -230px; }

.em11-bqfh158 {
  background-position: -2714px -230px; }

.em11-bqfh159 {
  background-position: -2737px -230px; }

.em11-bqfh160 {
  background-position: -2760px -230px; }

.em11-bqfh161 {
  background-position: -2783px -230px; }

.em11-bqfh162 {
  background-position: -2806px -230px; }

.em11-bqfh163 {
  background-position: -2829px -230px; }

.em11-bqfh164 {
  background-position: -2852px -230px; }

.em11-bqfh165 {
  background-position: -2875px -230px; }

.em11-bqfh166 {
  background-position: -2898px -230px; }

.em11-bqfh167 {
  background-position: -2921px -230px; }

.em11-bqfh168 {
  background-position: -2944px -230px; }

.em11-bqfh169 {
  background-position: -2967px -230px; }

.em11-bqfh170 {
  background-position: -2990px -230px; }

.em11-bqfh171 {
  background-position: -3013px -230px; }

.em11-bqfh172 {
  background-position: -3036px -230px; }

.em11-bqfh173 {
  background-position: -3059px -230px; }

.em11-bqfh174 {
  background-position: -3082px -230px; }

.em11-bqfh175 {
  background-position: -3105px -230px; }

.em11-bqfh176 {
  background-position: -3128px -230px; }

.em11-bqfh177 {
  background-position: -3151px -230px; }

.em11-bqfh178 {
  background-position: -3174px -230px; }

.em11-bqfh179 {
  background-position: -3197px -230px; }

.em11-bqfh180 {
  background-position: -3220px -230px; }

.em11-bqfh181 {
  background-position: -3243px -230px; }

.em11-bqfh182 {
  background-position: -3266px -230px; }

.em11-bqfh183 {
  background-position: -3289px -230px; }

.em11-bqfh184 {
  background-position: -3312px -230px; }

.em11-bqfh185 {
  background-position: -3335px -230px; }

.em11-bqfh186 {
  background-position: -3358px -230px; }

.em11-bqfh187 {
  background-position: -3381px -230px; }

.em11-bqfh188 {
  background-position: -3404px -230px; }

.em11-bqfh189 {
  background-position: -3427px -230px; }

.em11-bqfh190 {
  background-position: -3450px -230px; }

.em11-bqfh191 {
  background-position: -3473px -230px; }

.em11-bqfh192 {
  background-position: -3496px -230px; }

.em11-bqfh193 {
  background-position: -3519px -230px; }

.em11-bqfh194 {
  background-position: -3542px -230px; }

.em11-bqfh195 {
  background-position: -3565px -230px; }

.em11-bqfh196 {
  background-position: -3588px -230px; }

.em11-bqfh197 {
  background-position: -3611px -230px; }

.em11-bqfh198 {
  background-position: -3634px -230px; }

.em11-bqfh199 {
  background-position: -3657px -230px; }

.em11-bqfh200 {
  background-position: -3680px -230px; }

.em11-bqfh201 {
  background-position: -3703px -230px; }

.em12-bqfh0 {
  background-position: 0 -253px; }

.em12-bqfh1 {
  background-position: -23px -253px; }

.em12-bqfh2 {
  background-position: -46px -253px; }

.em12-bqfh3 {
  background-position: -69px -253px; }

.em12-bqfh4 {
  background-position: -92px -253px; }

.em12-bqfh5 {
  background-position: -115px -253px; }

.em12-bqfh6 {
  background-position: -138px -253px; }

.em12-bqfh7 {
  background-position: -161px -253px; }

.em12-bqfh8 {
  background-position: -184px -253px; }

.em12-bqfh9 {
  background-position: -207px -253px; }

.em12-bqfh10 {
  background-position: -230px -253px; }

.em12-bqfh11 {
  background-position: -253px -253px; }

.em12-bqfh12 {
  background-position: -276px -253px; }

.em12-bqfh13 {
  background-position: -299px -253px; }

.em12-bqfh14 {
  background-position: -322px -253px; }

.em12-bqfh15 {
  background-position: -345px -253px; }

.em12-bqfh16 {
  background-position: -368px -253px; }

.em12-bqfh17 {
  background-position: -391px -253px; }

.em12-bqfh18 {
  background-position: -414px -253px; }

.em12-bqfh19 {
  background-position: -437px -253px; }

.em12-bqfh20 {
  background-position: -460px -253px; }

.em12-bqfh21 {
  background-position: -483px -253px; }

.em12-bqfh22 {
  background-position: -506px -253px; }

.em12-bqfh23 {
  background-position: -529px -253px; }

.em12-bqfh24 {
  background-position: -552px -253px; }

.em12-bqfh25 {
  background-position: -575px -253px; }

.em12-bqfh26 {
  background-position: -598px -253px; }

.em12-bqfh27 {
  background-position: -621px -253px; }

.em12-bqfh28 {
  background-position: -644px -253px; }

.em12-bqfh29 {
  background-position: -667px -253px; }

.em12-bqfh30 {
  background-position: -690px -253px; }

.em12-bqfh31 {
  background-position: -713px -253px; }

.em12-bqfh32 {
  background-position: -736px -253px; }

.em12-bqfh33 {
  background-position: -759px -253px; }

.em12-bqfh34 {
  background-position: -782px -253px; }

.em12-bqfh35 {
  background-position: -805px -253px; }

.em12-bqfh36 {
  background-position: -828px -253px; }

.em12-bqfh37 {
  background-position: -851px -253px; }

.em12-bqfh38 {
  background-position: -874px -253px; }

.em12-bqfh39 {
  background-position: -897px -253px; }

.em12-bqfh40 {
  background-position: -920px -253px; }

.em12-bqfh41 {
  background-position: -943px -253px; }

.em12-bqfh42 {
  background-position: -966px -253px; }

.em12-bqfh43 {
  background-position: -989px -253px; }

.em12-bqfh44 {
  background-position: -1012px -253px; }

.em12-bqfh45 {
  background-position: -1035px -253px; }

.em12-bqfh46 {
  background-position: -1058px -253px; }

.em12-bqfh47 {
  background-position: -1081px -253px; }

.em12-bqfh48 {
  background-position: -1104px -253px; }

.em12-bqfh49 {
  background-position: -1127px -253px; }

.em12-bqfh50 {
  background-position: -1150px -253px; }

.em12-bqfh51 {
  background-position: -1173px -253px; }

.em12-bqfh52 {
  background-position: -1196px -253px; }

.em12-bqfh53 {
  background-position: -1219px -253px; }

.em12-bqfh54 {
  background-position: -1242px -253px; }

.em12-bqfh55 {
  background-position: -1265px -253px; }

.em12-bqfh56 {
  background-position: -1288px -253px; }

.em12-bqfh57 {
  background-position: -1311px -253px; }

.em12-bqfh58 {
  background-position: -1334px -253px; }

.em12-bqfh59 {
  background-position: -1357px -253px; }

.em12-bqfh60 {
  background-position: -1380px -253px; }

.em12-bqfh61 {
  background-position: -1403px -253px; }

.em12-bqfh62 {
  background-position: -1426px -253px; }

.em12-bqfh63 {
  background-position: -1449px -253px; }

.em12-bqfh64 {
  background-position: -1472px -253px; }

.em12-bqfh65 {
  background-position: -1495px -253px; }

.em12-bqfh66 {
  background-position: -1518px -253px; }

.em12-bqfh67 {
  background-position: -1541px -253px; }

.em12-bqfh68 {
  background-position: -1564px -253px; }

.em12-bqfh69 {
  background-position: -1587px -253px; }

.em12-bqfh70 {
  background-position: -1610px -253px; }

.em12-bqfh71 {
  background-position: -1633px -253px; }

.em12-bqfh72 {
  background-position: -1656px -253px; }

.em12-bqfh73 {
  background-position: -1679px -253px; }

.em12-bqfh74 {
  background-position: -1702px -253px; }

.em12-bqfh75 {
  background-position: -1725px -253px; }

.em12-bqfh76 {
  background-position: -1748px -253px; }

.em12-bqfh77 {
  background-position: -1771px -253px; }

.em12-bqfh78 {
  background-position: -1794px -253px; }

.em12-bqfh79 {
  background-position: -1817px -253px; }

.em12-bqfh80 {
  background-position: -1840px -253px; }

.em12-bqfh81 {
  background-position: -1863px -253px; }

.em12-bqfh82 {
  background-position: -1886px -253px; }

.container {
  width: 1000px; }

.commentbox {
  width: 100%;
  margin: 20px auto; }
  .commentbox #openFace {
    position: static; }

.mytextarea {
  width: 100%;
  overflow: auto;
  word-break: break-all;
  height: 100px;
  color: #000;
  font-size: 1em;
  resize: none; }

.comment-list {
  width: 100%;
  margin: 20px auto;
  clear: both;
  padding: 20px 20px 0; }
  .comment-list .comment-info {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; }
    .comment-list .comment-info header {
      width: 10%;
      position: absolute; }
      .comment-list .comment-info header img {
        width: 100%;
        border-radius: 50%;
        padding: 5px; }
    .comment-list .comment-info .comment-right {
      padding: 5px 0px 5px 11%; }
      .comment-list .comment-info .comment-right h3 {
        margin: 5px 0px; }
      .comment-list .comment-info .comment-right .comment-content-header {
        height: 25px; }
      .comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span {
        padding-right: 2em;
        color: #aaa; }
      .comment-list .comment-info .comment-right .reply-list {
        border-left: 3px solid #ccc;
        padding-left: 7px; }
        .comment-list .comment-info .comment-right .reply-list .reply {
          border-bottom: 1px dashed #ccc; }
          .comment-list .comment-info .comment-right .reply-list .reply div span {
            padding-left: 10px; }
          .comment-list .comment-info .comment-right .reply-list .reply p span {
            padding-right: 2em;
            color: #aaa; }

.comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span.reply-btn, .send, .reply-list-btn {
  cursor: pointer; }

@media (min-width: 1199px) {
  .main-box {
    padding-left: 45px; } }

@media (max-width: 768px) {
  nav.navbar.bootsnav {
    left: 0 !important; }
  .article-h1 {
    display: none !important; } }

nav.navbar.bootsnav {
  overflow: hidden;
  left: 45px; }
  nav.navbar.bootsnav .nav.navbar-nav {
    max-width: 1200px;
    margin: 0 auto;
    float: none !important; }

@media (min-width: 768px) {
  .main-box ul.footer-container {
    padding-left: 25% !important; }
  .article-h1 {
    display: block; } }

/*
@media (min-width: 992px) {
  .main-box ul.footer-container {
    padding-left: 25% !important;
  }
}
*/
.article-wrap {
  max-width: 1200px;
  margin: 0 auto; }
  .article-wrap .article-content {
    margin-right: 380px; }
    .article-wrap .article-content .editor {
      padding: 0 20px;
      border-radius: 4px; }
  .article-wrap .sidebar {
    position: fixed;
    width: 360px;
    margin-left: 20px; }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .article-wrap .article-content {
    margin: 0 15px; }
  .article-wrap .sidebar {
    display: none; } }

@media (max-width: 480px) {
  .article-wrap .article-content {
    margin: 0 10px; }
  .article-wrap .sidebar {
    display: none; } }

.day-mode .article-content {
  background-color: #ffffff; }
  .day-mode .article-content .editor {
    border: 1px solid #eaeaea; }

.day-mode .comment-list {
  border: 1px solid #eaeaea; }

.night-mode .article-content {
  background-color: #3f3f3f; }
  .night-mode .article-content .editor {
    border: 1px solid #656565; }

.night-mode .comment-list {
  border: 1px solid #656565; }

.article-h1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-200%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .article-h1 .articleTitle {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    padding-left: 20px;
    max-width: 1200px;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word; }

.artile-ul {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.artile-ul.article-current {
  transform: translateY(-100%); }

.article-h1.article-current {
  transform: translateY(-100%); }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
