@charset "UTF-8";
.tags-list .tag {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 12px; }
  .tags-list .tag.tag_1 {
    background-color: #727577; }
  .tags-list .tag.tag_2 {
    background-color: #a77676; }
  .tags-list .tag.tag_3 {
    background-color: #5d5252; }
  .tags-list .tag.tag_4 {
    background-color: #5a5a7d; }
  .tags-list .tag.tag_5 {
    background-color: #bf8835; }
  .tags-list .tag.tag_6 {
    background-color: #929266; }
  .tags-list .tag:nth-of-type(2) {
    background-color: #a77676; }
  .tags-list .tag a {
    color: #f1f1f1;
    text-decoration: none; }
    .tags-list .tag a:hover, .tags-list .tag a:focus {
      outline: none; }

.article-tags {
  text-align: center;
  padding: 0 23px 17px 23px; }
  .article-tags a {
    padding: 3px 8px;
    margin: 2px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    font-size: 12px; }
    .article-tags a:last-child {
      margin: 0; }
    .article-tags a:hover {
      opacity: 1; }
    .article-tags a.tag_1 {
      background-color: #727577; }
    .article-tags a.tag_2 {
      background-color: #a77676; }
    .article-tags a.tag_3 {
      background-color: #5d5252; }
    .article-tags a.tag_4 {
      background-color: #5a5a7d; }
    .article-tags a.tag_5 {
      background-color: #bf8835; }
    .article-tags a.tag_6 {
      background-color: #929266; }

.day-mode .article-list {
  background-color: #ffffff; }

.night-mode .article-list {
  background-color: #3f3f3f; }

.article-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .article-list.no {
    background-color: transparent; }
  .article-list .article-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px dashed #999999;
    padding: 15px; }
    .article-list .article-item .left_img {
      width: 220px;
      height: 150px;
      margin-right: 10px;
      overflow: hidden; }
      .article-list .article-item .left_img > a {
        display: block; }
        .article-list .article-item .left_img > a img {
          width: 100%; }
    .article-list .article-item .right-html {
      width: -webkit-calc(100% - 230px);
      width: calc(100% - 230px);
      /*
      // 暂时废弃这种现在以标签为主
      .meta {
        margin-bottom: 0;
        font-size: 14px;
        li {
          display: inline;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          .iconfont {
            vertical-align: middle;
            font-size: 14px;
          }
          span {
            vertical-align: middle;
          }
        }
      }*/ }
      .article-list .article-item .right-html .title_tag .classTag {
        position: relative;
        display: inline-block;
        top: -2px;
        padding: 3px 6px;
        margin-right: 6px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        color: #ffffff;
        background-color: #45bcf9;
        font-size: 12px;
        text-decoration: none; }
        .article-list .article-item .right-html .title_tag .classTag:before {
          position: absolute;
          display: inline;
          right: -8px;
          top: 50%;
          margin-top: -4px;
          content: "";
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-left: 8px solid #45bcf9;
          border-bottom: 4px solid transparent; }
      .article-list .article-item .right-html .title_tag .article-title {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
        font-size: larger;
        letter-spacing: 1px; }
        .article-list .article-item .right-html .title_tag .article-title a {
          margin-right: 3px;
          font-size: 16px;
          font-weight: bold; }
          .article-list .article-item .right-html .title_tag .article-title a:hover {
            text-decoration: none; }
      .article-list .article-item .right-html .title_tag .tags {
        display: inline-block;
        padding: 4px 6px;
        border: solid 1px #c0392b;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        color: #c0392b; }
      .article-list .article-item .right-html .article {
        margin-top: 20px;
        margin-bottom: 5px; }
        .article-list .article-item .right-html .article .text {
          line-height: 24px;
          color: #666;
          text-indent: 2em; }
  .article-list .no-data {
    margin: 155px 0; }
    .article-list .no-data h4 {
      margin-top: 45px; }

/*
这里是响应式适配屏幕
*/
@media (max-width: 768px) {
  .article-list .left_img {
    display: none; }
  .article-list .right-html {
    width: 100% !important; }
    .article-list .right-html .article {
      margin-top: 2px !important;
      margin-bottom: 2px !important; } }

@media (max-width: 468px) {
  .article-list .right-html ul.meta {
    -webkit-padding-start: 0;
            padding-inline-start: 0; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .article-list .article-item {
    padding: 5px; }
    .article-list .article-item .left_img {
      width: 160px;
      height: 109px; }
      .article-list .article-item .left_img > a {
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        .article-list .article-item .left_img > a img {
          width: 100%; }
    .article-list .article-item .right-html {
      width: -webkit-calc(100% - 160px);
      width: calc(100% - 160px); }
      .article-list .article-item .right-html .article {
        margin-top: 5px;
        margin-bottom: 5px; } }

@media (min-width: 1679px) {
  .article-list {
    width: 978px; } }

@media (min-width: 768px) {
  .article-list {
    margin-left: 30px;
    margin-right: 30px; } }
