.ht-page {
  padding: 30px;
  text-align: center;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ht-page span {
  font-size: 14px;
  vertical-align: middle; }

.ht-page a {
  text-decoration: none;
  color: #555;
  outline: none; }

.ht-page .pagebtn {
  width: 52px;
  height: 30px;
  background: #45bcf9;
  border: 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer; }
  .ht-page .pagebtn:hover {
    background: #45bcf9; }
  .ht-page .pagebtn:focus {
    outline: none; }

.ht-page .previous {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px; }

.ht-page .previous.disable {
  display: inline-block;
  padding: 0 15px;
  cursor: default;
  visibility: hidden; }

.ht-page .previous.disable:hover {
  visibility: hidden; }

.ht-page .previous:hover {
  visibility: hidden; }

.ht-page .previous a {
  display: inline-block;
  height: 28px;
  line-height: 30px;
  font-size: 30px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px; }

.ht-page .next {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px; }

.ht-page .next.disable {
  display: inline-block;
  padding: 0 15px;
  cursor: default;
  visibility: hidden; }

.ht-page .next.disable:hover {
  visibility: hidden; }

.ht-page .next a {
  display: inline-block;
  height: 28px;
  line-height: 30px;
  font-size: 30px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px; }

.ht-page .num {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0; }

.ht-page .num.current {
  padding: 0 15px;
  cursor: pointer; }

.ht-page .num a {
  display: inline-block;
  height: 28px;
  line-height: 30px;
  padding: 0 15px; }

.ht-page .num a:hover {
  color: #555;
  background: #f1f1f1; }

.ht-page .dots {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  padding: 0 15px; }

.ht-page .total {
  margin-left: 20px;
  margin-right: 10px; }

.ht-page .total.total_page {
  margin-left: 5px;
  margin-right: 5px; }

.ht-page .page_jump {
  margin: 0 10px; }

.ht-page .pageInput {
  width: 50px;
  height: 30px;
  border: 1px solid #e9e9e9;
  outline: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
  font-size: 14px; }

.ht-page .pageInput:focus {
  border: 1px solid #1875f0; }

@media screen and (max-width: 799px) {
  .ht-page {
    padding: 10px 0; }
  .ht-page .num, .ht-page .dots, .ht-page .total {
    display: none; }
  .ht-page .num.current {
    display: inline-block;
    padding: 0 10px; }
  .ht-page .total.total_page {
    display: inline-block; }
  .ht-page .pageInput, .ht-page .pagebtn {
    width: 40px; }
  .ht-page .page_jump {
    margin: 0 5px; } }

.night-mode .ht-page a {
  color: #999999; }
  .night-mode .ht-page a:hover {
    color: #ffffff;
    background-color: #5c5c5c !important; }

.night-mode .ht-page > span {
  color: #999999;
  background-color: #3f3f3f; }

.day-mode .ht-page .next a {
  color: #555555; }
  .day-mode .ht-page .next a:hover {
    color: #000000; }

.day-mode .ht-page .num.current {
  background: #555555;
  color: #ffffff; }
  .day-mode .ht-page .num.current:hover {
    background: #000000; }

.night-mode .ht-page .next a {
  color: #999999; }
  .night-mode .ht-page .next a:hover {
    color: #ffffff; }

.night-mode .ht-page .num.current {
  background: #ffffff;
  color: #000000; }
  .night-mode .ht-page .num.current:hover {
    background: #b1b1b1; }
