{{/*这个页面暂时废弃，未用！！！！！！*/}}
{{/*这是原来icon的形式，现在暂时放弃这种方式*/}}
<ul class="meta">
    <li>
        <i class="iconfont icon-zuozhe"></i>
        <span>bob</span>
    </li>
    <li>
        <i class="iconfont icon-reading"></i>
        <span>21</span>
    </li>
    <li>
        <i class="iconfont icon-comments1"></i>
        <span>3</span>
    </li>
    <li>
        <i class="iconfont icon-zan-"></i>
        <span>4</span>
    </li>
    <li>
        <i class="iconfont icon-time1"></i>
        <span>56</span>
    </li>
</ul>
<div class="ht-page">
    <span class="total">共1000条</span>
    <span class="disable previous"></span>
    <span class="current num">1</span>
    <span class="num"><a href="javascript:;" page="1">2</a></span>
    <span class="num"><a href="javascript:;" page="2">3</a></span>
    <span class="num"><a href="javascript:;" page="3">4</a></span>
    <span class="num"><a href="javascript:;" page="4">5</a></span>
    <span class="num"><a href="javascript:;" page="5">6</a></span>
    <span class="dots">...</span><span class="num"><a href="javascript:;" page="99">100</a></span>
    <span class="next"><a href="javascript:;" page="1" data-rec="下一页"></a></span><span class="total total_page">共100页</span>
    <span class="page_jump">到</span><input id="pageInput" class="pageInput" oldpage="" maxlength="100" type="text"><span class="page_jump">页</span>
    <button type="button" id="pagebtn" class="pagebtn">确定</button>
</div>

{{/*這裏是評論數據*/}}
<div class="comment-list">
    <div class="comment-info">
        <header><img src="/static/images/img.jpg"></header>
        <div class="comment-right"><h3>帅大叔</h3>
            <div class="comment-content-header"><span><i class="glyphicon glyphicon-time"></i>2017-10-17 11:42:53</span><span><i
                            class="glyphicon glyphicon-map-marker"></i>深圳</span></div>
            <p class="content">同学聚会，看到当年追我的屌丝开着宝马车带着他老婆来了，他老婆是我隔壁宿舍的同班同学，心里后悔极了。</p>
            <div class="comment-content-footer">
                <div class="row">
                    <div class="col-md-10"><span><i class="glyphicon glyphicon-globe"></i> 谷歌</span></div>
                    <div class="col-md-2"><span class="reply-btn">回复</span></div>
                </div>
            </div>
            <div class="reply-list"></div>
        </div>
    </div>

</div>