{{define "articleTag"}}
    <ul>
        <li>12</li>
    </ul>
{{end}}

{{/*这是原来icon的形式，现在暂时放弃这种方式*/}}
{{define "articleIcon"}}
<ul class="meta">
    <li>
        <i class="iconfont icon-zuozhe"></i>
        <span>bob</span>
    </li>
    <li>
        <i class="iconfont icon-reading"></i>
        <span>21</span>
    </li>
    <li>
        <i class="iconfont icon-comments1"></i>
        <span>3</span>
    </li>
    <li>
        <i class="iconfont icon-zan-"></i>
        <span>4</span>
    </li>
    <li>
        <i class="iconfont icon-time1"></i>
        <span>56</span>
    </li>
</ul>
{{end}}