<section class="article-list">
    {{range $i, $v := .articleList.list}}
        <div class="article-item">
            <div class="left_img">
                {{if IsArticleCover $v.Cover}}
                    <a href="javascript: void(0);">
                        <img src="http://qbv39uqsg.bkt.clouddn.com/{{$v.Cover}}">
                    </a>
                {{end}}
            </div>
            <div class="right-html">
                <div class="title_tag">
                    {{if $v.CategoryId}}
                        {{range $i, $type := $.menu}}
                            {{if and $type.child (eq $type.id $v.MenuId)}}
                                {{range $key, $item := $type.child}}
                                    {{if IsArticleTypeName $v.CategoryId $item.id }}
                                        <a href="javascript: void(0);" class="classTag cursorPointer">{{$item.name}}</a>
                                    {{end}}
                                {{end}}
                            {{end}}
                        {{end}}

                    {{else}}
                        {{range $key, $type := $.menu}}
                            {{if and (eq $type.child_status false) (eq $type.id $v.MenuId)}}
                                <a href="javascript: void(0);" class="classTag cursorPointer">{{$type.name}}</a>
                            {{end}}
                        {{end}}
                    {{end}}
                    {{if $v.CategoryId}}
                        <h2 class="article-title cursorPointer"><a
                                    href="/article/{{$v.MenuId}}/{{$v.CategoryId}}">{{$v.Title}}</a></h2>
                    {{else}}
                        <h2 class="article-title cursorPointer"><a href="/article/{{$v.MenuId}}">{{$v.Title}}</a></h2>
                    {{end}}
                    {{if eq $v.Id $.top_id}}
                        <span class="tags">置顶</span>
                    {{end}}
                    {{if $v.Hot}}
                        <span class="tags">热门</span>
                    {{end}}
                    {{if $v.Recommend}}
                        <span class="tags">推荐</span>
                    {{end}}
                </div>
                <div class="article">
                    <p class="text">{{$v.Desc}}</p>
                </div>
                {{template "articleTag" .}}

            </div>
        </div>
    {{end}}
    <!--分页器-->
    <div class="ht-page"></div>
</section>

