<section class="article-list">
    {{range $i, $v := .articleList.list}}
        <div class="article-item">
            <div class="left_img">
                {{if IsArticleCover $v.Cover}}
                    <a href="javascript: void(0);">
                        <img src="http://qbv39uqsg.bkt.clouddn.com/{{$v.Cover}}">
                    </a>
                {{end}}
            </div>
            <div class="right-html">
                <div class="title_tag">
                    <a href="" class="classTag cursorPointer">html</a>
                    {{if $v.CategoryId}}
                        <h2 class="article-title cursorPointer"><a
                                    href="/article/{{$v.MenuId}}/{{$v.CategoryId}}">{{$v.Title}}</a></h2>
                    {{else}}
                        <h2 class="article-title cursorPointer"><a href="/article/{{$v.MenuId}}">{{$v.Title}}</a></h2>
                    {{end}}
                    {{if eq $v.Id $.top_id}}
                        <span class="isTop">置顶</span>
                    {{end}}
                </div>
                <div class="article">
                    <p class="text">在日常开发过程中，我们可能会遇到这种需求：发布时间显示距离现在时间有多久，也就是几秒前 几分钟前 几小时前 几天前 几年前。接下来就用go原因实现这个需求。</p>
{{/*                    <p class="text">{{$v.Desc}}</p>*/}}
                </div>

                <ul class="meta">
                    <li>
                        <i class="iconfont icon-zuozhe"></i>
                        <span>bob</span>
                    </li>
                    <li>
                        <i class="iconfont icon-reading"></i>
                        <span>21</span>
                    </li>
                    <li>
                        <i class="iconfont icon-comments1"></i>
                        <span>3</span>
                    </li>
                    <li>
                        <i class="iconfont icon-zan-"></i>
                        <span>4</span>
                    </li>
                    <li>
                        <i class="iconfont icon-time1"></i>
                        <span>56</span>
                    </li>
                </ul>
            </div>
        </div>
    {{end}}
    <!--分页器-->
    <div class="ht-page"></div>
</section>

