<section class="article-list">
    {{range $i, $v := .articleList.list}}
        <div class="article-item">
            <div class="left_img">
                {{if IsArticleCover $v.Cover}}
                    <a href="javascript: void(0);">
                        <img src="http://qbv39uqsg.bkt.clouddn.com/{{$v.Cover}}">
                    </a>
                {{end}}
            </div>
            <div class="right-html">
                <div class="title_tag">
                    {{if $v.CategoryId}}
                        {{range $i, $type := $.menu}}
                            {{if and $type.child (eq $type.id $v.MenuId)}}
                                {{range $key, $item := $type.child}}
                                    {{if IsArticleTypeName $v.CategoryId $item.id }}
                                        <a href="javascript: void(0);" class="classTag cursorPointer">{{$item.name}}</a>
                                    {{end}}
                                {{end}}
                            {{end}}
                        {{end}}

                    {{else}}
                        {{range $key, $type := $.menu}}
                            {{if and (eq $type.child_status false) (eq $type.id $v.MenuId)}}
                                <a href="javascript: void(0);" class="classTag cursorPointer">{{$type.name}}</a>
                            {{end}}
                        {{end}}
                    {{end}}
                    {{if $v.CategoryId}}
                        <h2 class="article-title cursorPointer"><a
                                    href="/article/{{$v.Id}}">{{$v.Title}}</a></h2>
                    {{else}}
                        <h2 class="article-title cursorPointer"><a href="/article/{{$v.MenuId}}">{{$v.Title}}</a></h2>
                    {{end}}
                    {{if eq $v.Id $.top_id}}
                        <span class="tags">置顶</span>
                    {{end}}
                    {{if $v.Hot}}
                        <span class="tags">热门</span>
                    {{end}}
                    {{if $v.Recommend}}
                        <span class="tags">推荐</span>
                    {{end}}
                </div>
                <div class="article">
                    <p class="text">{{$v.Desc}}</p>
                </div>
                {{if IsSplit $v.Tags}}
                    <ul class="tags-list">
                        {{range $i, $value := TagSplit $v.Tags}}
                            <li class="tag {{ClassName $i}}" title="{{$value}}">
                                <a href="javascript: void(0);">
                                    {{$value}}
                                </a>
                            </li>
                        {{end}}
                    </ul>
                {{end}}
            </div>
        </div>
    {{end}}
    <!--分页器-->
    <div class="ht-page"><span class="total">共10000条</span><span class="previous"><a href="javascript:;"
                                                                                     class="iconfont icon-xiala"
                                                                                     page="2" data-rec="上一页"></a></span><span
                class="num"><a href="javascript:;" page="0">1</a></span><span class="num"><a href="javascript:;"
                                                                                             page="1">2</a></span><span
                class="num"><a href="javascript:;" page="2">3</a></span><span class="current num">4</span><span
                class="num"><a href="javascript:;" page="4">5</a></span><span class="num"><a href="javascript:;"
                                                                                             page="5">6</a></span><span
                class="dots">...</span><span class="num"><a href="javascript:;" page="999">1000</a></span><span
                class="next"><a href="javascript:;" class="iconfont icon-xiala-copy" page="4" data-rec="下一页"></a></span><span
                class="total total_page">共1000页</span><span class="page_jump">到</span><input id="pageInput"
                                                                                             class="pageInput"
                                                                                             oldpage="" maxlength="1000"
                                                                                             type="text"><span
                class="page_jump">页</span>
        <button type="button" id="pagebtn" class="pagebtn">确定</button>
    </div>
</section>

