{{define "logBox"}}
<div class="inputBox form">
    
    <div class="userLogin">
        <div class="formInput form-group has-feedback">
            <input type="text" class="form-control" aria-describedby="inputSuccess2Status" placeholder="请输入邮箱账户">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="help-block" style="visibility:hidden">请输入邮箱账户</span>
            <i class="iconfont icon-youxiang"></i>
        </div>
        <div class="formInput form-group has-feedback passOrverify clearfix">
            <input type="text" class="form-control fl" aria-describedby="inputError2Status" placeholder="请输入验证码">
            <button type="button" class="btn btn-default fr">获取验证码</button>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="help-block" style="visibility:hidden">验证码错误！</span>
            <i class="iconfont icon-yanzhengmamima"></i>
        </div>
    </div>
    
    <div class="mobileLogin">
        <div class="formInput form-group has-feedback">
            <input type="text" class="form-control" aria-describedby="inputSuccess2Status" placeholder="请输入手机号">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="help-block" style="visibility:hidden">请输入手机号</span>
            <i class="iconfont icon-weibiaoti-1_shouji"></i>
        </div>
        <div class="formInput form-group has-feedback passOrverify clearfix">
            <input type="text" class="form-control fl" aria-describedby="inputError2Status" placeholder="获取验证码">
            <button type="button" class="btn btn-default fr">获取验证码</button>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="help-block" style="visibility:hidden">验证码错误！</span>
            <i class="iconfont icon-yanzhengmamima"></i>
        </div>
    </div>
</div>

<div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="checkboxError" value="option1">
            自动登录
        </label>
    </div>
</div>
<button type="button" class="btn btn-info">登陆</button>
{{end}}

{{/*参考*/}}
<div class="inputBox form">
    
    <div class="userLogin">
        <div class="formInput form-group has-feedback has-success">
            <input type="text" class="form-control" aria-describedby="inputSuccess2Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span class="help-block">请输入帐户名</span>
            <i class="iconfont icon-zuozhe"></i>
        </div>
        <div class="formInput form-group has-feedback has-error">
            <input type="text" class="form-control" aria-describedby="inputSuccess2Status">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span class="help-block">请输入密码</span>
            <i class="iconfont icon-mima"></i>
        </div>
        <div class="formInput form-group has-feedback passOrverify clearfix has-error">
            <input type="text" class="form-control fl" aria-describedby="inputError2Status">
            <a href="javascript:;" class="code fl">
                <img class="form-control" onclick="getCode()" id="captcha" alt="验证码">
            </a>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span class="help-block">请输入验证码</span>
            <i class="iconfont icon-yanzhengmamima"></i>
        </div>
    </div>
    
    <div class="mobileLogin">
        <div class="formInput form-group has-feedback has-success">
            <input type="text" class="form-control" aria-describedby="inputSuccess2Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span class="help-block">请输入手机号</span>
            <i class="iconfont icon-weibiaoti-1_shouji"></i>
        </div>
        <div class="formInput form-group has-error has-feedback passOrverify clearfix">
            <input type="text" class="form-control fl" aria-describedby="inputError2Status">
            <button type="button" class="btn btn-default fr">获取验证码</button>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span class="help-block">请输入密码</span>
            <i class="iconfont icon-yanzhengmamima"></i>
        </div>
    </div>
</div>

<div class="has-error">
    <div class="checkbox">
        <label>
            <input type="checkbox" id="checkboxError" value="option1">
            自动登录
        </label>
    </div>
</div>
<button type="button" class="btn btn-info">登陆</button>