<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <link rel="stylesheet" href="/static/assets/404/404.min.css">
</head>
<body>
<div class="mianBox">
    <img src="/static/assets/404/images/yun0.png" alt="" class="yun yun0" />
    <img src="/static/assets/404/images/yun1.png" alt="" class="yun yun1" />
    <img src="/static/assets/404/images/yun2.png" alt="" class="yun yun2" />
    <img src="/static/assets/404/images/bird.png" alt="" class="bird" />
    <img src="/static/assets/404/images/san.png" alt="" class="san" />
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h2>出错啦404！</h2>
                <p><span>页面自动<a id="href" href="/">跳转</a></span><span>等待<b id="wait">6</b>秒</span></p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/404/404.min.js"></script>
</html>
