{{/*tag*/}}
{{define "articeCommon"}}
<script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="http://www.jq22.com/demo/jqueryTag-it201806010015/js/tag-it.js"></script>
<script src="/static/js/cupload.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var d = $('#article-type')[0]
        var availableTags = []
        for (var i = 0; i < d.length; i++) {
            availableTags.push(d[i].innerText)
        }
        $("#articleTags").tagit({
            availableTags: availableTags,
            placeholder: '2+66'
        });
    });


    // 图片上传
    var cuploadCreate = new Cupload({
        ele: '#cupload',
        num: 1,
        width: 160, // 预览框的宽,单位为px,非必需,默认为148
        height: 114, // 预览框的高,单位为px,非必需,默认为148
    });
</script>
{{end}}