{{define "articeCommon"}}
    <script src="/static/js/cupload.min.js"></script>
    {{/*业务逻辑*/}}
    <script src="/static/js/articleDetails.min.js"></script>
    {{/*tag + 图片上传*/}}
    <script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="http://www.jq22.com/demo/jqueryTag-it201806010015/js/tag-it.js"></script>

    <script type="text/javascript">
        // $(document).ready(function () {
        //     var d = $('#article-type')[0]
        //     var availableTags = []
        //     for (var i = 0; i < d.length; i++) {
        //         availableTags.push(d[i].innerText)
        //     }
        //     $("#articleTags").tagit({
        //         availableTags: availableTags
        //     });
        // });
    </script>
    {{/*引入七牛云*/}}
    <script src="https://unpkg.com/qiniu-js@2.5.5/dist/qiniu.min.js"></script>
{{end}}