<!-- Start Content-->
<div class="container-fluid admin-custom" id="welcome">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-left mt-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/welcome"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item active">导航菜单</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-md-12">
            <div class="col-md">
                <div class="card mb-3">
                    <!-- Add `.with-elements` to the parent `.card-header` element -->
                    <div class="card-header with-elements border-bottom-0">
                        <h5  class="card-header-title mr-2">
                            导航菜单
                            <small class="text-danger">（一级菜单最多能设置15个）</small>
                        </h5>
                        <div class="card-header-elements ml-md-auto">
                            <button type="button" class="btn btn-xs btn-outline-primary"><a href="/menuSetting/add"><span class="ion ion-md-add"></span> 新增</a></button>
                        </div>
                    </div>
                    {{.menu_data}}
                    <div class="card-body pt-0">
                        <div class="card">
                            <table id="datatable-buttons" class="table table-striped dt-responsive nowrap" width="100%">
                                <thead>
                                <tr>
                                    <th>菜单名</th>
                                    <th>路由</th>
                                    <th>icon</th>
                                    <th>是否有下级</th>
                                    <th>移动</th>
                                    <th>详情</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range $i, $v := .menu_data.list}}
                                <tr>
                                    <td>{{$v.MenuName}}</td>
                                    <td>{{$v.Path}}</td>
                                    <td>
                                        <i class="{{$v.Icon}}"></i>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            {{if $v.ChildStatus}}
                                            <input onchange="changeMenu({{$v.Id}}, {{$v.ChildStatus}})" type="checkbox" checked class="custom-control-input" id="customCheck{{$v.Id}}">
                                            {{else}}
                                            <input onchange="changeMenu({{$v.Id}}, {{$v.ChildStatus}})" type="checkbox" class="custom-control-input" id="customCheck{{$v.Id}}">
                                            {{end}}
                                            <label class="custom-control-label" for="customCheck{{$v.Id}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/api/menuSetting/move/up?sort={{$v.Sort}}&page={{$.current}}" title="上移">
                                            <i class="feather icon-arrow-up"></i>
                                        </a>
                                        <a href="/api/menuSetting/move/down?sort={{$v.Sort}}&page={{$.current}}" title="下移">
                                            <i class="feather icon-arrow-down" ></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{if $v.Visible}}
                                            <a href="/api/menuSetting/issue?id={{$v.Id}}&status={{$v.Visible}}&page={{$.current}}" class="text-success">下架</a>
                                        {{else}}
                                            <a href="/api/menuSetting/issue?id={{$v.Id}}&status={{$v.Visible}}&page={{$.current}}" class="text-danger">上架</a>
                                        {{end}}
                                        <a href="/menuSetting/info" class="text-c-blue">详情</a>
                                        <!-- Danger header modal -->
                                        {{if $v.Delete}}
                                        <a href="#!" class="text-c-blue text-facebook" data-toggle="modal" data-target="#danger-header-modal-{{$v.Id}}">已删除</a>
                                        {{else}}
                                        <a href="#!" class="text-c-blue text-danger" data-toggle="modal" data-target="#danger-header-modal-{{$v.Id}}">删除</a>
                                        {{end}}
                                        <!-- Danger Header Modal -->
                                        {{if eq  $v.Delete false}}
                                        <div id="danger-header-modal-{{$v.Id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="danger-header-modalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header modal-colored-header bg-danger">
                                                        <h4 class="modal-title" id="danger-header-modalLabel">删除菜单</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4 class="mt-0 text-center">
                                                            <i class="mdi text-warning mdi-alert-circle"></i>
                                                            <span class="font-14">是否删除该菜单?</span>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-danger" onclick="deleteMenu({{$v.Id}})">确认</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                    </td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <ul class="pagination float-right pagination-rounded justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="{{ if  eq $.menu_data.current 1}}javascript:;{{ else }}?page={{.menu_data.prepage}}{{ end }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {{if gt $.menu_data.current 5}}
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                                {{end}}
                                {{ range $k,$v := .menu_data.pages }}
                                    {{ if and ( gt $.menu_data.current 5 ) (eq $k 0) }}
                                        <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                                    {{ else }}
                                        <li class="page-item">
                                            {{ if eq $v $.menu_data.current }}
                                            <a class="page-link" style="color:#fff;border-color: #5d78ff;background-color: #5d78ff;" href="javascript: void(0);">{{ $v }}</a>
                                            {{ else }}
                                            <a class="page-link" href="?page={{ $v }}">{{ $v }}</a>
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                {{ end }}

                                <li class="page-item">
                                    <a class="page-link" href="{{ if  eq $.menu_data.current .menu_data.total}}javascript:;{{ else }}?page={{.menu_data.nextpage}}{{ end }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="javascript:;">共 {{ .menu_data.total }} 页</a>
                                </li>
                            </ul>

                            {{/*
                            <ul class="pagination float-right pagination-rounded justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>

                            */}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card ui-activity-card">
                <div class="card-body">
                    <h4 class="mt-0 mb-3">注意事项：</h4>
                    <div class="ui-activity-list">
                        <div class="row py-3">
                            <div class="col-auto text-right update-meta">
                                <i class="bg-success update-icon ring"></i>
                            </div>
                            <div class="col pl-2">
                                <h5 class="m-0">Devlopment</h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet, <a href="#!" class="text-c-green"> More</a></p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-auto text-right update-meta">
                                <i class="bg-warning update-icon ring"></i>
                            </div>
                            <div class="col pl-2">
                                <h5 class="m-0">Showcases</h5>
                                <p class="mb-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-auto text-right update-meta">
                                <i class="bg-primary update-icon ring"></i>
                            </div>
                            <div class="col pl-2">
                                <h5 class="m-0">Devlopment & Update</h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-auto text-right update-meta">
                                <i class="bg-success update-icon ring"></i>
                            </div>
                            <div class="col pl-2">
                                <h5 class="m-0">Showcases</h5>
                                <p class="mb-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-auto text-right update-meta">
                                <i class="bg-danger update-icon ring"></i>
                            </div>
                            <div class="col pl-2">
                                <h5 class="m-0">Testimonial</h5>
                                <p class="mb-0">Lorem ipsum dolor sit ipsum <a href="#!" class="text-c-green"> More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
</div>