<!-- ============================================================== -->
<!-- Start Content-->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-md-6">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h5 class="m-0">User visit</h5>
                        <div class="card-header-elements ml-auto">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:" class="dropdown-item"><i class="feather icon-maximize text-muted"></i> &nbsp; Full Screen</a>
                                    <a href="javascript:" class="dropdown-item"><i class="feather icon-refresh-cw text-muted"></i> &nbsp; Reload</a>
                                    <a href="javascript:" class="dropdown-item"><i class="feather icon-trash text-muted"></i> &nbsp; Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-flex mb-1">
                        <div class="mr-4">
                            <h4 class="mb-1 text-primary">1.64k+</h4> Visits per Day
                        </div>
                        <div class="mr-4">
                            <h4 class="mb-1 text-success">562.5k+</h4> Total Visitors
                        </div>
                    </div>
                    <div id="visit-chart" class="w-100"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="mr-3 text-white">
                                    <h2 class="m-0"><strong>255</strong></h2>
                                    <p class="mb-0">New Orders</p>
                                </div>
                                <i class="feather icon-shopping-cart display-4"></i>
                            </div>
                        </div>
                        <div class="card-footer bg-light py-2">
                            <small class="mb-0"><i class="ion ion-ios-trending-up mr-2"></i>45% Increase</small>
                            <small class="mb-0 float-right">more <i class="feather icon-chevron-right"></i></small>
                        </div>
                    </div>
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-between">
                                <h5 class="card-title">Detailed Reports</h5>
                            </div>
                            <div class="d-flex align-items-center">
                                <h2 class="m-0">13,956</h2>
                                <p class="text-danger ml-2 m-0">+2.21%</p>
                            </div>
                            <p class="text-muted m-0 text-small">Total users world wide</p>
                        </div>
                        <div id="del-reports"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card ui-advance-card mt-4">
                        <div class="card-body">
                            <div class="bg-primary goto-top">
                                <div class="card-body text-white pb-0">
                                    <div id="static-chart-1"></div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <div class="">
                                    <h3 class="m-0">45,965</h3>
                                    <p class="text-muted mb-0">Users</p>
                                </div>
                                <i class="feather icon-users display-4 text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary mb-4">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <span class="ui-box-icon text-white"><i class="lnr lnr-users display-4"></i></span>
                                <div class="ml-3 text-white">
                                    <p class="mb-1">New Clients</p>
                                    <h4 class="mb-0">450</h4>
                                    <div class="progress progress-md bg-light mt-2 mb-1">
                                        <div class="progress-bar bg-white" style="width: 45%"></div>
                                    </div>
                                    <small class="mb-0">45% Increase in 28 Days</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-8 col-md-12">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="world-map-markers" style="height: 330px"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <h4 class="mt-0">Visitors Sessions</h4>
                                <p>Sessions by Country</p>
                                <div id="country-chart"></div>
                            </div>
                            <p class="m-0">Today's <span class="float-right"><i class="feather icon-arrow-up text-success"></i> 16.98%</span></p>
                            <div class="progress progress-sm mt-1 mb-3">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 73%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="m-0">Yesterday's <span class="float-right"><i class="feather icon-arrow-down text-danger"></i> 12.48%</span></p>
                            <div class="progress progress-sm mt-1 mb-0">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 62%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card ui-feed">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" class="dropdown-item"><i class="feather icon-maximize text-muted"></i> &nbsp; Full Screen</a>
                            <a href="javascript:void(0);" class="dropdown-item"><i class="feather icon-refresh-cw text-muted"></i> &nbsp; Reload</a>
                            <a href="javascript:void(0);" class="dropdown-item"><i class="feather icon-trash text-muted"></i> &nbsp; Remove</a>
                        </div>
                    </div>
                    <h5 class="header-title mb-0">Feeds</h5>
                </div>
                <div class="slimscroll" style="max-height: 310px;">
                    <div class="card-body pt-0">
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-bell badge-warning-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>You have 3 pending tasks.</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>Just Now</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-shopping-cart badge-primary-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>New order received</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>30 min ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-file-text badge-danger-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>You have 3 pending tasks.</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>38 min ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-bell badge-success-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>You have 4 tasks Done.</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>1 hours ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-file-text badge-info-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>You have 2 pending tasks.</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>2 hours ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-shopping-cart badge-warning-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>New order received</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>4 hours ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-shopping-cart badge-success-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>Order Delivery Done</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>4.5 hours ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-file-text badge-danger-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>You have 5 pending tasks.</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>1 day ago</small>
                                </a>
                            </div>
                        </div>
                        <div class="row m-b-0 align-items-center">
                            <div class="col-auto pr-0">
                                <i class="feather icon-bell badge-success-lighten feed-icon"></i>
                            </div>
                            <div class="col">
                                <a href="#!" class="text-body">
                                    <h5>You have 4 tasks Done.</h5>
                                    <small class="text-muted"><i class="icon feather icon-clock mr-2"></i>2 day ago</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card ui-activity-card">
                <div class="card-body">
                    <div class="btn-group dropdown float-right">
                        <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-maximize text-muted"></i> &nbsp; Full Screen</a>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-refresh-cw text-muted"></i> &nbsp; Reload</a>
                            <a href="javascript:" class="dropdown-item"><i class="feather icon-trash text-muted"></i> &nbsp; Remove</a>
                        </div>
                    </div>
                    <h5 class="mt-0 mb-3">Latest Activity</h5>
                    <div class="slimscroll pt-1" style="max-height: 305px;">
                        <div class="ui-activity-list">
                            <div class="row py-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-success update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Devlopment</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, <a href="#!" class="text-c-green"> More</a></p>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-warning update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Showcases</h5>
                                    <p class="mb-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-primary update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Devlopment & Update</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-success update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Showcases</h5>
                                    <p class="mb-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-danger update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Testimonial</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit ipsum <a href="#!" class="text-c-green"> More</a></p>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-warning update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Testing</h5>
                                    <p class="mb-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More</a></p>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-auto text-right update-meta">
                                    <i class="bg-primary update-icon ring"></i>
                                </div>
                                <div class="col pl-2">
                                    <h5 class="m-0">Miscellaneous</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit ipsum <a href="#!" class="text-c-green"> More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <h5 class="card-title">Statitics</h5>
                    </div>
                    <h2 class="text-dark">87659</h2>
                    <p class="font-weight-light text-muted mb-2 text-small">Last 6 months sales</p>
                    <div id="barChartStacked"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-md-12">
            <div class="card sale-card">
                <div class="card-header">
                    <h5>Orders Overview</h5>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive-md">
                        <table class="table table-hover mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th>Company</th>
                                <th>Owner</th>
                                <th>Target</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-facebook text-white btn-icon" title="Facebook">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/assets/images/users/avatar-4.jpg" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Jacob Doe</h4>
                                                <p class="mb-0">Jacob_Doe@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>33%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-warning">Pending</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-twitter btn-icon text-white" title="Twitter">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/images/avatar.png" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Mandy Erle</h4>
                                                <p class="mb-0">Mandy@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>56%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-success">Success</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-dribbble btn-icon text-white" title="Dribbble">
                                            <i class="mdi mdi-dribbble"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/assets/images/users/avatar-4.jpg" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Adella Galen</h4>
                                                <p class="mb-0">Adella@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>12%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-primary">In progress</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-pinterest btn-icon text-white" title="Pinterest">
                                            <i class="mdi mdi-pinterest"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/assets/images/users/avatar-2.jpg" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Napoleon Stacey</h4>
                                                <p class="mb-0">Napoleon@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>65%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-danger">NEW</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-linkedin btn-icon text-white" title="Linkedin">
                                            <i class="mdi mdi-linkedin"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/assets/images/users/avatar-3.jpg" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Napoleon Stacey</h4>
                                                <p class="mb-0">Napoleon@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>45%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-danger">NEW</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-googleplus btn-icon text-white" title="Google plus">
                                            <i class="mdi mdi-google-plus"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/assets/images/users/avatar-4.jpg" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Alex William</h4>
                                                <p class="mb-0">Alex@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>75%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-warning">Pending</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <a data-toggle="tooltip" href="#" class="btn btn-behance btn-icon text-white" title="Behance">
                                            <i class="mdi mdi-behance"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="media align-items-center more-user-details">
                                            <img src="/static/assets/images/users/avatar-5.jpg" class=" rounded-circle ui-w-50 mr-3" alt="Avtar image">
                                            <div class="media-body">
                                                <h4 class="mt-0 mb-1">Napoleon Stacey</h4>
                                                <p class="mb-0">Napoleon@example.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>65%</span>
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-danger">NEW</span>
                                </td>
                                <td>
                                    <a href="#!" class="btn btn-icon btn-primary mr-1" data-toggle="tooltip" title="Edit"><i class="feather icon-edit-2"></i></a>
                                    <a href="#!" class="btn btn-icon btn-success mr-1" data-toggle="tooltip" title="Check"><i class="feather icon-check-square"></i></a>
                                    <a href="#!" class="btn btn-icon btn-danger mr-1" data-toggle="tooltip" title="Delete"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content -->
<!-- ============================================================== -->