<div class="auth-panel-form">
    <div class="align-items-center d-flex h-100">
        <div class="card-body">
            <div class="auth-brand text-center text-lg-left">
                <a href="index.html">
                    <span><img src="assets/images/logo-light.png" alt=""></span>
                </a>
            </div>
            <h4 class="mt-0 mb-1">Registration</h4>
            <p class="text-muted mb-2">Don't have an account? Create your account hear</p>
            <form action="#">
                <div class="form-group mb-2">
                    <label class="mb-1" for="fullname">Name</label>
                    <input class="form-control" type="text" id="fullname" placeholder="Enter name" required>
                </div>
                <div class="form-group mb-2">
                    <label class="mb-1" for="emailaddress">Email</label>
                    <input class="form-control" type="email" id="emailaddress" required placeholder="Enter email">
                </div>
                <div class="form-group mb-2">
                    <label class="mb-1" for="password">Password</label>
                    <input class="form-control" type="password" required id="password" placeholder="Enter password">
                </div>
                <div class="form-group mb-2">
                    <label class="mb-1" for="password2">Conform Password</label>
                    <input class="form-control" type="password" required id="password2" placeholder="Enter password">
                </div>
                <div class="form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                        <label class="custom-control-label" for="checkbox-signup">I accept <a href="#!" class="text-muted">Terms &amp; Conditions</a></label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="form-group mb-0">
                            <button class="btn btn-primary btn-block" type="submit"> Submit </button>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
                <div class="text-center">
                    <p class="text-muted font-16">You may also <b>Sign up</b> using</p>
                    <ul class="social-list list-inline mt-2 mb-0">
                        <li class="list-inline-item">
                            <a href="#!" class="social-btn border-primary bg-primary text-white"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="social-btn border-danger bg-danger text-white"><i class="mdi mdi-google"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="social-btn border-info bg-info text-white"><i class="mdi mdi-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </form>
            <!-- Footer-->
            <footer class="footer footer-alt">
                <p class="text-muted">Already have account? <a href="pages-login-img.html" class="text-muted ml-1"><b>Log In hear</b></a></p>
            </footer>
        </div>
    </div>
</div>