<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href=""><img src="/static/images/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn" style="padding: 0; padding-top: 10px;">
                <button type="button" class="btn-toggle-fullwidth btn-toggle-mx"><img src="/static/images/left.png" height="40px" alt=""></button>
            </div>
        </div>
    </nav>



    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="http://www.jq22.com/demo/mxHeight201904162250/link/1/index.html" target="_blank" class="iframe_link active"><span>高亮主题一</span></a></li>
                    <li><a href="http://www.jq22.com/demo/mxHeight201904162250/link/2/index.html" target="_blank" class="iframe_link"><span>高亮主题二</span></a></li>
                    <li><a href="http://www.jq22.com/demo/mxHeight201904162250/link/3/index.html" target="_blank" class="iframe_link"><span>高亮主题三</span></a></li>
                    <li><a href="http://www.jq22.com/demo/mxHeight201904162250/link/4/index.html" target="_blank" class="iframe_link"><span>高亮主题四</span></a></li>
                    <li><a href="http://www.jq22.com/demo/mxHeight201904162250/link/5/index.html" target="_blank" class="iframe_link"><span>高亮主题五</span></a></li>
                    <li><a href="http://www.jq22.com/demo/mxHeight201904162250/link/6/index.html" target="_blank" class="iframe_link"><span>高亮加代码行</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="main-content" style="height: 100%;">
            <iframe src="link/1/index.html" class="iframe_mx uicss-cn"></iframe>
        </div>
    </div>
</div>