<div class="container w3layouts agileits">
    <div class="register w3layouts agileits">
        <h2>注 册</h2>
        <form action="#" method="post">
            <input type="text" Name="Name" placeholder="用户名" required="" value="admin">
            <input type="text" Name="Email" placeholder="邮箱" required="" value="admin@163.com">
            <input type="password" Name="Password" placeholder="密码" required="">
            <input type="text" Name="Phone Number" placeholder="手机号码" required="">
        </form>
        <div class="send-button w3layouts agileits">
            <form>
                <input type="submit" value="免费注册">
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
{{template "base/footer.html"}}
