@charset "UTF-8";

$base-color: #13c2c2; //背景色
$text-color: #ffffff; //字体颜色
$hot-text-color: #666; // 常用字体颜色
$layout--bg-color: #293038; // 侧边栏背景
$border-color: #fff;
$nav-red-color: #c0392b;
$input-bg-color: #ffffff;
$form-btn-search-bg-color: #45b6f7; // form表单搜索框btn的背景颜色
$form-input-search-border-color: #dddddd; // form表单输入框的边框颜色
$form-input-text-color: #999999; // form表单输入框字体颜色
$skin-text-color: #999999; // 左边皮肤字体颜色
