@charset "UTF-8";

$base-color: #13c2c2; //背景色
$text-color: #fff; //字体颜色
$hot-text-color: #666; // 常用字体颜色
$layout--bg-color: #293038; // 侧边栏背景
$border-color: #fff;
$nav-red-color: #c0392b;
$input-bg-color: #fff;
