<!--代码高亮-->
<script src="/static/js/prism.js"></script>

<script>
    /*nav的位移 + 用文章title替换。*/
    $(window).scroll(() => {
        const top = Math.floor($(window).scrollTop());
        if (top > 100) {
            // $('.article-h1').css({ 'transform': `translateY(-${TRANSLATE_Y_HIGHT}px)` })
            $('.article-h1').addClass('article-current')
            $('ul.nav.navbar-nav').addClass('article-current')
        } else {
            // $('.article-h1').css({ 'transform': `translateY(0)` })
            $('.article-h1').removeClass('article-current')
            $('ul.nav.navbar-nav').removeClass('article-current')
        }
    })
</script>

