<script>
    setTimeout(() => {
        document.getElementById('firstScreen').style.display = 'none'; // svg动画隐藏
        if (document.querySelectorAll('.navbar-box.nav-skin')[0]) {
            $('.navbar-box.nav-skin').removeClass('visibility')
        }
        if (document.querySelectorAll('.container-fluid.main-box')[0]) {
            $('.container-fluid.main-box').removeClass('visibility')
        }
    }, 2000);


    setTimeout(() => {
        if (document.querySelectorAll('.navbar-box.nav-skin')[0]) {
            $('.navbar-box.nav-skin').addClass('active')
        }
        if (document.querySelectorAll('.container-fluid.main-box')[0]) {
            $('.container-fluid.main-box').addClass('active')
        }
    }, 2000)
</script>