@charset "UTF-8";
@import "./theme/themeColor";
/*
这里是响应式适配屏幕
*/
@media (max-width: 768px) {
  .article-list {
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .article-list {

  }
}

@media screen and (min-width: 992px) and (max-width: 1170px) {
  .article-list {
  }
}

@media screen and (min-width: 1170px) and (max-width: 1679px) {
  .article-list {
  }
}

@media (min-width: 1679px) {
  .article-list {
    width: 978px;
  }
}




@media (max-width: 768px) {
  .article-list {
    margin-left: 10px;
    margin-right: 10px;
  }
}


@media (min-width: 768px) {
  .article-list {
    margin-left: 30px;
    margin-right: 30px;
  }
}



// 列表内容填充部分。
.article-list {
  background-color: $article-list-bg-color;

  .article-item {
    .left_img {
      width: 220px;
      height: 150px;
      margin-right: 10px;
      > a {
        display: block;
        img {
          width: 100%;
        }
      }
    }

    .right-html {
      .title_tag {
        .border-current {
          color: pink;
          font-size: 12px;
        }
      }
    }
  }
}
