li {
  list-style-type: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.whiteBgColor {
  background-color: #ffffff;
}

.middleCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


.hide {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}