<div class="user-dropdown">
    <div class="dropdown">
        <img
            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            class="avatar "
            src="http://thirdqq.qlogo.cn/g?b=oidb&k=ROib1LTwAibbB1j686UTFVWw&s=100"
            alt="用户信息">
        <div class="modified"></div>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="#"><i class="iconfont icon-Userpersonalinform"></i>个人中心</a></li>
            <li><a href="#"><i class="iconfont icon-setting"></i>账户设置</a></li>
            <li class="disabled"><a href="#"><i class="iconfont icon-setting"></i>测试</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="iconfont icon-quit"></i>退出登陆</a></li>
        </ul>
    </div>
</div>
