<script src="/static/js/details.min.js"></script>
<script>
    /*nav的位移 + 用文章title替换。*/
    $(window).scroll(() => {
        const top = Math.floor($(window).scrollTop());
        if (top > 100) {
            // $('.article-h1').css({ 'transform': `translateY(-${TRANSLATE_Y_HIGHT}px)` })
            $('.article-h1').addClass('article-current')
            $('ul.nav.navbar-nav').addClass('article-current')
        } else {
            // $('.article-h1').css({ 'transform': `translateY(0)` })
            $('.article-h1').removeClass('article-current')
            $('ul.nav.navbar-nav').removeClass('article-current')
        }
    })
</script>


<script src="/static/assets/editor.md/examples/js/jquery.min.js"></script>
<script src="/static/assets/editor.md/editormd.js"></script>
<script src="/static/assets/editor.md/lib/marked.min.js"></script>


<script>
    var editor, pathStr = '/static/assets/editor.md/lib/';
    // editor = editormd("article-content",  {
    //     path: pathStr,
    //     width: "90%"
    // });

    editormd.markdownToHTML("article-content", {
        htmlDecode      : "style,script,iframe",
        emoji           : false,
        taskList        : true,
        tex             : true,
        flowChart       : false,
        sequenceDiagram : false,
        tocm            : true,
    });
</script>
{{/*
<script>
    $(function () {
        editormd.markdownToHTML("article-content", {
            htmlDecode      : "style,script,iframe",
            emoji           : false,
            taskList        : true,
            tex             : true,
            flowChart       : false,
            sequenceDiagram : false,
            tocm            : true,
            tocContainer    : "#custom-toc-container",
        });
    })
</script>*/}}
