body {
    font-family:'Microsoft Yahei';
    color:#555
}
ul,ol,dl,dt,dd {
    margin:0;
    padding:0
}
ul {
    list-style:none
}
table {
    font-size:12px
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
    vertical-align:middle;
    padding:10px;
    border-top-color:#eee
}
a {
    color:#666
}
a:hover {
    color:#45b6f7;
    text-decoration:none
}
a:focus {
    outline:0
}
@media(min-width:768px) {
    .container {
        width:auto
    }
}@media(min-width:992px) {
    .container {
        width:auto
    }
}@media(min-width:1200px) {
    .container {
        width:auto
    }
}img {
     max-width:100%
 }
.container {
    position:relative;
    margin:0 auto;
    max-width:1200px;
    padding:0
}
.header {
    position:relative;
    top:0;
    left:0;
    right:0;
    z-index:9;
    background-color:#fff;
    padding:12px 0 17px;
    margin-bottom:15px;
    border-bottom:1px solid #eaeaea;
    border-color:rgba(0,0,0,.08);
    box-shadow:0 1px 3px rgba(0,0,0,.03);
    border-top:4px solid #f46660
}
.site-layout-1 .content {
    margin-right:0
}
.sidebar {
    float:left;
    margin-left:-360px;
    width:360px;
    position:relative
}
.single.content {
    padding:0 20px;
    background-color:#fff;
    border:1px solid #eaeaea;
    border-radius:4px
}
.single-format-aside .content {
    margin-right:0
}
.site-navbar {
    float:right;
    font-size:16px;
    margin-top:7px;
    margin-right:-15px
}
.site-navbar li {
    position:relative;
    float:left
}
.site-navbar li:hover {
    z-index:2
}
.site-navbar a {
    display:block;
    padding:0 15px;
    color:#666
}
.site-navbar li:hover>a,.site-navbar li.active a:hover,.site-navbar a:hover {
    color:#45b6f7
}
.site-navbar .fa {
    width:18px
}
.site-navbar .fa-angle-down {
    width:11px
}
.search-on .site-navbar li.navto-search a {
    color:#45b6f7
}
.site-nav .sub-menu {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:#fff;
    font-size:12px;
    padding:6px 0;
    border:1px solid #ddd;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    line-height:32px;
    width:132px;
    font-weight:bold;
    border-radius:4px
}
.site-nav ul .sub-menu {
    left:100%;
    top:-7px;
    border-radius:0
}
.site-nav .sub-menu li {
    float:none
}
.site-nav .sub-menu a:hover {
    background-color:#f6f6f6
}
.site-nav li:hover>.sub-menu {
    display:block
}
.site-nav li:hover .fa-angle-down {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg)
}
.site-nav li.current-menu-item>a,.site-nav li.current-menu-parent>a {
    color:#45b6f7
}
.sign-info {
    font-size:12px;
    clear:both;
    margin-top:10px
}
.site-search {
    background-color:#fff;
    background-color:rgba(255,255,255,0.95);
    position:absolute;
    top: -40px;
    left:0;
    right:0;
    height:100px;
    z-index:8
}
.search-on.site-search {
    top:74px
}
.site-search-form {
    padding:25px 20%;
    overflow:hidden
}
.search-input {
    float:left;
    color:#999;
    border:solid 1px #ddd;
    width:85%;
    height:50px;
    padding:4px 12px;
    border-right:0;
    font-size:16px;
    border-radius:2px 0 0 2px;
    outline:0
}
.search-input:focus {
    border-color:#45b6f7
}
.search-btn {
    color:#fff;
    border:0;
    background:#45b6f7;
    height:50px;
    font-size:16px;
    padding:0 12px;
    border-radius:0 2px 2px 0;
    width:15%
}
.search-btn:hover,.search-btn:focus {
    color:#fff;
    opacity:.85;
    filter:alpha(opacity=85)
}
.search-btn .fa {
    font-size:16px;
    width:16px
}
.site-search-form a {
    margin-left:20px;
    color:#999
}
.site-search-form a:hover {
    color:#45b6f7
}
.search .site-search {
    position:relative;
    margin:-15px 0 15px;
    border-bottom:1px solid #eaeaea
}