<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bob个人感悟</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "style/globalStyle.html"}}
    {{.style}}
</head>
<body class="day-mode">
<!--皮肤-->
<div class="navbar-box nav-skin visibility">
    {{template "navbarExpanded" .}}
</div>
<!--内容部分-->
<div class="container-fluid main-box visibility">
    <div class="row">
        <div class="main-content">
            <div class="blog-container">
                <nav class="navbar navbar-default navbar-mobile bootsnav on">

                    <div class="navbar-header clearfiex">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                            <i class="fa fa-bars"></i>

                        </button>

                        <i id="mobile" class="mobile cursorPointer fr iconfont icon-search"></i>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">
                        {{.menuUl}}
                    </div>

                    <div id="drawer-mask" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false"></div>

                </nav>

                <!-- 空容器用来占nav定位留下来的高度 -->
                <div id="placeholder" class="ensp">&ensp;</div>
                {{.LayoutContent}}
                <form id="search-form-box" class="input-group search-content">
                    <input type="text" class="form-control" placeholder="输入关键字">
                    <button class="search-btn" type="submit">
                        <i class="iconfont icon-search"></i>
                    </button>
                </form>
            </div>
            {{template "base/footer.html"}}
        </div>
    </div>
</div>
</body>
{{template "script/globalScript.html"}}
{{.canvasNest}}
{{.script}}
</html>
