<link rel="shortcut icon" href="/static/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<link rel="shortcut icon" href="/static/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap_nav.min.css">
<link rel="stylesheet" href="/static/css/globalLoad.min.css">
<link rel="stylesheet" href="/static/css/global.min.css">
<link rel="stylesheet" href="/static/css/nav.min.css">
<link rel="stylesheet" href="/static/css/repair.min.css">
<link rel="stylesheet" href="/static/css/main.min.css">
<link rel="stylesheet" href="/static/fonts/iconfont.css">