<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bob个人感悟</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="easy_go,golang博客,简单配置,上手简单,自定义。">
    <meta name="description" content="来自成都的一名90后程序员,闲来无事,开源一套最简单部署、可自定义配置 golang 服务端渲染博客。">
    <meta name="author" content="牛的壹,422720735@qq.com">
    <script>var url=sessionStorage.getItem("r");url&&(sessionStorage.removeItem("r"),window.location.href=url)</script>
    {{template "style/globalStyle.html"}}
    {{.style}}
</head>
<body class="day-mode">
{{.Loading}}

<div class="navbar-box nav-skin visibility">
    {{template "navbarExpanded" .}}
</div>

<div class="container-fluid main-box visibility">
    <div class="row">
        
        {{.welcome}}
        <div class="col-sm-offset-3 main-content">
            <div class="blog-container">
                <nav class="navbar navbar-default navbar-mobile bootsnav on">

                    <div class="navbar-header clearfiex">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                            <i class="fa fa-bars"></i>

                        </button>

                        <i id="mobile" class="mobile cursorPointer fr iconfont icon-search"></i>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">
                        {{.menuUl}}
                        <div class="navbar-expanded menu">
                            
                            <div>&ensp;</div>
                            <div>&ensp;</div>
                            <div>&ensp;</div>
                            <div>&ensp;</div>
                            <div>&ensp;</div>
                            <div>
                                <a class="themeMixin-skin cursorPointer">
                                    <i class="iconfont icon-moon"></i>
                                </a>
                            </div>
                            {{if .u_id}}
                                <a href="javascript: void(0);">
                                    <i class="iconfont icon-exit" title="退出登录1" id="confirmbtn"></i>
                                </a>
                            {{else}}
                                <a href="/login">
                                    <i class="iconfont icon-denglu" title="登录" onclick="_login()"></i>
                                </a>
                            {{end}}
                            {{if .u_id}}
                            <div>
                                <a class="expanded-avatar c-pointer d-block" title="{{.u_name}}">
                                    <img class="d-block" width="32px" height="32px" src="{{.u_avatar_url}}">
                                </a>
                            </div>
                            {{end}}
                        </div>
                    </div>

                    <div id="drawer-mask" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false"></div>

                </nav>
                
                <div id="placeholder" class="ensp">&ensp;</div>
                {{.LayoutContent}}
                {{.spin}}
                <form id="search-form-box" class="input-group search-content" method="get" action="/">
                    <input type="text" class="form-control" placeholder="输入关键字" name="title">
                    <button class="search-btn" type="submit">
                        <i class="iconfont icon-search"></i>
                    </button>
                </form>
            </div>
            {{template "base/footer.html"}}
        </div>
    </div>
</div>
</body>
{{template "script/globalScript.html"}}


{{.canvasNest}}
{{.TweenMaxJs}}
{{.script}}
</html>
