<!-- ============================================================= -->
<!-- ===============    side menu content start  ================= -->
<!-- ============================================================= -->
<div class="left-side-menu">
    <div class="slimscroll-menu">
        <!-------------------------------------->
        <!-- Put your logo hear in img tag -->
        <a href="/workplace" class="logo">
                    <span class="logo-lg">
                        <img src="/static/assets/images/logo.png" alt="">
                    </span>
            <span class="logo-sm">
                        <img src="/static/assets/images/logo_sm.png" alt="">
                    </span>
        </a>
        <!-- Logo content end -->
        <!-------------------------------------->
        <!-------------------------------------->
        <!-- User details start -->
        <div class="sidenav-user">
            <h4 class="mb-1 mt-0">Cindy Deitch</h4>
            <p class="mb-2">UI/UX Designer</p>
            <img src="/static/images/avatar.png" alt="" class="rounded-circle">
        </div>
        <!-- User details end -->
        <!-------------------------------------->
        <!-------------------------------------->
        <!-- Menu link start -->
        <ul class="metismenu side-nav">
            <li class="menu-caption menu-item">Welcome</li>
            <li class="menu-item">
                <a href="/workplace" class="menu-link">
                    <i class="feather icon-home"></i>
                    <span> 工作台 </span>
                    {{/*<span class="badge badge-success badge-pill float-right mr-3">New</span>*/}}
                </a>
            </li>

            <li class="menu-caption menu-item">Navigation</li>
            <li class="menu-item">
                <a href="/menuSetting?page=1" class="menu-link">
                    <i class="dripicons-view-list"></i>
                    <span> 导航菜单 </span>
                </a>
            </li>

            <li class="menu-caption menu-item">Article</li>
            <li class="menu-item">
                <a href="javascript: void(0);" class="menu-link">
                    <i class="feather dripicons-article"></i>
                    <span> 文章系统 </span>
                    {{if gt .articleCount 99}}
                        <span class="badge badge-danger badge-pill float-right mr-3">99+</span>
                    {{else}}
                        <span class="badge badge-danger badge-pill float-right mr-3">{{.articleCount}}</span>
                    {{end}}
                    <span class="menu-sub-icon"></span>
                </a>
                <ul class="menu-level-second collapse" aria-expanded="false">
                    <li><a href="/article/type?page=1">文章类型</a></li>
                    <li><a href="/article/list?page=1">文章列表</a></li>
                </ul>
            </li>

            <li class="menu-caption menu-item">Setting</li>
            <li class="menu-item">
                <a href="javascript: void(0);" class="menu-link">
                    <i class="feather icon-settings"></i>
                    <span> 系统设置 </span>
                    <span class="menu-sub-icon"></span>
                </a>
                <ul class="menu-level-second collapse" aria-expanded="false">
                    <li><a href="/cover"> 封面设置 </a></li>
                </ul>
            </li>
        </ul>
        <!-- Menu link end -->
        <!-------------------------------------->
        <div class="clearfix"></div>
    </div>
</div>
<!-- ============================================================= -->
<!-- ===============     side menu content End   ================= -->
<!-- ============================================================= -->