<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{{.metaTitle}} - 后台博客配置系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Beethemesdesign" name="author"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png">
    <!-- Required css -->
    <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/assets/message/css/jquery.my-message.1.1.css">
</head>

<body class="auth-fluid-pages pb-0">
<div class="auth-fluid">
    <div class="auth-side-img text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">欢迎使用</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> 入门级简洁化后台博客配置系统! <i class="mdi mdi-format-quote-close"></i></p>
            <p>
                © Bob - 蜀ICP备19025155号-1
            </p>
        </div>
    </div>
    {{.LayoutContent}}
</div>
<!-- Required js -->
<script src="/static/assets/js/app.js"></script>
{{.script}}
{{/*加密传输*/}}
<script src="/static/assets/crypto-js/core.js"></script>
<script src="/static/assets/crypto-js/cipher-core.js"></script>
<script src="/static/assets/crypto-js/aes.js"></script>
{{/*消息提示框架*/}}
<script src="/static/assets/message/js/jquery.my-message.1.1.js"></script>
<script src="/static/js/message-ui.min.js"></script>
</body>
</html>
