<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bob个人感悟</title>
    <!--iconfont-->
    <link rel="stylesheet" href="/static/fonts/iconfont.css">
    {{.BaseStyle}}
    {{.Style}}
</head>
<body>

<!-- Begin page -->
<div class="wrapper">

    <!-- ============================================================= -->
    <!-- ===============    side menu content start  ================= -->
    <!-- ============================================================= -->
    {{.LeftMenu}}
    <!-- ============================================================= -->
    <!-- ===============     side menu content End   ================= -->
    <!-- ============================================================= -->


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- ============================================================= -->
            <!-- ===============    Top bar header content start  ================= -->
            <!-- ============================================================= -->
            {{.HeaderLayout}}
            <!-- ================================================================== -->
            <!-- ===============    Top bar header content end  ================= -->
            <!-- ================================================================== -->


            {{.LayoutContent}}
        </div>
        <!-- content -->

        <!-- ============================================================= -->
        <!-- ===============    footer content start  ================= -->
        <!-- ============================================================= -->
        {{.FooterLayout}}
        <!-- ============================================================= -->
        <!-- ===============    footer content start  ================= -->
        <!-- ============================================================= -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
{{.BaseScript}}
<!--footer-->
<script>
    window.onload=function(){
        document.getElementById("year").innerText=(new Date).getFullYear();
        $('.trim').on("change", function () {
            $(".trim input[type=text]").each(function () {
                this.value = $.trim(this.value);
            });
        })
    };
</script>
{{/*<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>*/}}
<script src="/static/assets/js/lodash.min.js"></script>
{{.Script}}
{{.ScriptMessage}}
</body>
{{/*cdn*/}}
</html>
