<link rel="stylesheet" href="/static/assets/editor.md/css/editormd.css">
{{/*图片上传*/}}
<link rel="stylesheet" href="/static/css/cupload.min.css">
{{/*tag*/}}
<link rel="stylesheet" href="http://www.jq22.com/demo/jqueryTag-it201806010015/css/jquery.tagit.css">
<link rel="stylesheet" href="/static/css/tagit.ui.min.css">
<link rel="stylesheet" href="http://www.jq22.com/demo/jqueryTag-it201806010015/css/tagit.ui-zendesk.css">
<link rel="stylesheet" href="/static/css/articleDetails.min.css">
{{/*富文本*/}}
<link    src="http://open.sojson.com/highlight.js/9.0.0/default.min.css" rel="stylesheet"/>
<script src='http://open.sojson.com/highlight.js/9.0.0/highlight.min.js'></script>