<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Beethemesdesign" name="author" />

<!-- favicon -->
<link rel="shortcut icon" href="/static/assets/images/favicon.png">


<!-- third party css -->
<link href="/static/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Required css -->
<link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/static/assets/message/css/jquery.my-message.1.1.css">
<style>
    .admin-custom .table thead th {
        border-bottom: 1px solid #e3eaef;
    }

    .go-black {
        border: none;
        color: #565c63;
        height: 70px;
        line-height: 70px;
        width: 148px;
        background-color: transparent;
        font-size: 22px;
        cursor: pointer;
        float: left;
    }

    .ant-divider {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        list-style: none;
        font-feature-settings: 'tnum';
        background: #e8e8e8;
    }

    .ant-divider,
    .ant-divider-vertical {
        position: relative;
        top: -0.06em;
        display: inline-block;
        width: 1px;
        height: 0.9em;
        margin: 0 8px;
        vertical-align: middle;
    }
</style>