<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Beethemesdesign" name="author" />

<!-- favicon -->
<link rel="shortcut icon" href="/static/assets/images/favicon.png">


<!-- third party css -->
<link href="/static/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Required css -->
<link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/style.css" rel="stylesheet" type="text/css" />